{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
     אודות | סיכומים לבגרות | הסיכומיה
{% endblock title %}
{% block head %}
{% endblock %}
{% block body %}
 <div class="title-block">
     <h3>
     <span>מי אנחנו? (אני)</span>
     </h3>
 </div>
 <div class="block row">
     <p>
         קוראים לי דיויד גרייבר, אני מתכנת ומעצב ממבשרת ציון. הקמתי את פרוייקט הסיכומיה כדי למלמא צורך שאני יודע שקיים אצל הרבה תיכנויסטים.
         הצורך הזה הינו מקום אחד מרוכז, מסודר, ונוח לשימוש שאפשר לשתף בו סיכומים אחד עם השני לטובת כולם.
     </p>
 </div>
  <div class="title-block">
     <h3>
     <span>מה יוצא לי מזה?</span>
     </h3>
 </div>
 <div class="block row">
     <p>
        הקמת הפרוייקט הזה היא חווית למידה בשבילי, אמנם יש לי זיקה גדולה לתחום אבל אני לא בעל ניסיון רב. כל מה שאתם רואים נבנה תוכנת ועוצב ע"י במהלך הרבה מאוד זמן. כל חוות דעת תתקבל בברכה.
     </p>
 </div>
{% endblock %}