<!DOCTYPE html>
<html dir="rtl">
    {% load staticfiles %}
    {% load socialaccount %}
    {% load i18n %}
    <head>
    <title>{% block title %}סיכומים לבגרות | הסיכומיה{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Alef:400,700&subset=latin,hebrew' rel='stylesheet' type='text/css'>
        <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
        <link rel=”icon” type=”image/png” href=”{% static "favicons/apple-touch-icon-precomposed.png" %}”>
        <link rel=“shortcut icon” href=“{% static "favicons/favicon.ico" %}” type=“image/x-icon”>
        <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicons/apple-touch-icon-57x57.png" %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicons/apple-touch-icon-60x60.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicons/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicons/apple-touch-icon-76x76.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicons/apple-touch-icon-114x114.png" %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicons/apple-touch-icon-120x120.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicons/apple-touch-icon-144x144.png" %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicons/apple-touch-icon-152x152.png" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon-180x180.png" %}">
        <link rel="icon" type="image/png" href="{% static "favicons/favicon-32x32.png" %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static "favicons/android-chrome-192x192.png" %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static "favicons/favicon-96x96.png" %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static "favicons/favicon-16x16.png" %}" sizes="16x16">
        <link rel="manifest" href="{% static "favicons/manifest.json" %}">
        <link rel="shortcut icon" href="{% static "favicons/favicon.ico" %}">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="{% static "favicons/mstile-144x144.png" %}">
        <meta name="msapplication-config" content="{% static "favicons/browserconfig.xml" %}">
        <meta name="theme-color" content="#ffffff">
        <style>
        .nav-button:active{
        transform: translate(0px, 5px)!important;
        -webkit-transform: translate(0px, 5px)!important;
        box-shadow: 0px 0px 0px 0px!important;
        }
        </style>
        {% block head %}{% endblock %}
        <LINK href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        {# Google Analytics Tracking Script #}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-65698931-1', 'auto');
          ga('send', 'pageview');

        </script>
        {# End Script #}
    </head>
    <body>
    {% language 'he' %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if not 'login' in message.tags %}
                        <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="page-wrap">
            <div class="header-container">
                <header>
                    <a href="{% url 'index' %}" class="logo_wrapper"><h1>הסיכומיה   </h1></a>
                    <div class="panel-wrapper">
                        <div class="panel">
                            {% if user.is_authenticated %}
                                <form id='logout_form' method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <h4 class="welcome_message">ברוך הבא <strong>{{ user.username }}</strong></h4>
                                    <div class="panel-actions">
                                    <input type="submit" id="logout" name="logout" value="התנתק">
                                    <a href='{% url 'profile' user.pk %}' class="button">פרופיל</a>
                                    <a href='{% url 'settings' user.pk %}' class="button">הגדרות</a>
                                    {% if user.is_staff %}<a href='/admin' class="button">פאנל ניהול</a>{% endif %}
                                    </div>
                                </form>
                            {% else %}
                                <form id="login_form" method="post" action='{% url 'login' %}'>
                                    {% csrf_token %}
                                    <h4>
                                                                    <div class="lock"></div>
                                    התחברות משתמשים רשומים
                                    </h4>
                                    <input type="text" id="login_username" name="login_username" placeholder="משתמש/אימייל">
                                    <input type="password" id="login_password" name="login_password" placeholder="סיסמא">
                                    <input type="submit" id="login_submit" name="login_submit" value="התחבר">
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if 'login' in message.tags %}
                                                <div class='login_error'>{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </form>
                                <div class="social-logins">
                                    <a href="{% provider_login_url 'google' %}" class="google-login" >התחבר עם גוגל</a>
                                    <a href="{% provider_login_url 'facebook' %}" class="facebook-login" >התחבר עם פייסבוק</a>
                                </div>
                                <a href="{% url 'password_reset' %}" class="forgot-password-link">שכחת את הסיסמא?</a>
                            {% endif %}
                        </div>
                    </div>
                </header>
            </div>
            <div class="container">
        {% if user.is_authenticated %}
                <div class="row col-24 karma-bar">
                <div class="call-to-action-text">
                <h3>כרגע יש לך <strong>{{ user.profile.karma }}</strong> קארמה</h3>
                <h4>הוסף סיכומים איכותיים לאתר והגדל את הקארמה שלך</h4>
                </div>
                    <a class="call-to-action" href="{% url 'upload' %}">
                        הוספת סיכום לאתר
                    </a>
                    <a class="call-to-action" href="{% url 'leaderboard' %}">
                        טבלת המובילים
                    </a>
                </div>
                {% endif %}
                            <div class="row">
                    <nav class="col-24">
                        <ol class="row">
                            {% for subject in subjects  %}
                                <li class='part-of-{{ subjects | length }}'>
                                    <a  href="{{ subject.get_absolute_url }}"  style="background-color: #{{subject.color}}" class="nav-button">{{ subject.hebrew_name }}</a>
                                </li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
                <form id="search_form" method="get" action="{% url 'search' %}">
                    <div class="row">
                        <div class="search-box col-24">
                            {{ search_form.query }}
                            <input type="submit" value="חפש">
                            {{ search_form.subject }}
                        </div>

                    </form>
                </div>
                <script src="{% static "js/jquery.js" %}"></script>
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer>
        <div class="row">
            <div class="footer-block">
                <ul>
                    <h5>עלינו</h5>
                    <li><a href="{% url 'index' %}">דף הבית</a></li>
                    <li><a href="{% url 'about' %}">אודות</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <ul>
                    <h5>עזרה</h5>
                    <li><a href="{% url 'contact' %}">צור קשר</a></li>
                    <li><a href="#">שאלות נפוצות</a></li>
                    <li><a href="#">שלח חוות דעת</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <ul>
                    <h5>עקוב אחרינו</h5>
                    <li><a href="https://www.facebook.com/sikumia" class="facebook-link">facebook</a></li>
                    <li><a href="https://plus.google.com/+SikumiaIll" class="google-link">+google</a></li>
                </ul>
            </div>
        </div>
          <div class="©">2013 © כל הזכויות שמורות לסיכומים.נט</div>
        </footer>
        <script>
        function ColorLuminance(hex, lum) {
        // validate hex string
        hex = String(hex).replace(/[^0-9a-f]/gi, '');
        if (hex.length < 6) {
        hex = hex[0]+hex[0]+hex[1]+hex[1]+hex[2]+hex[2];
        }
        lum = lum || 0;
        // convert to decimal and change luminosity
        var rgb = "#", c, i;
        for (i = 0; i < 3; i++) {
        c = parseInt(hex.substr(i*2,2), 16);
        c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16);
        rgb += ("00"+c).substr(c.length);
        }
        return rgb;
        }
        function hexc(colorval) {
        var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        delete(parts[0]);
        for (var i = 1; i <= 3; ++i) {
        parts[i] = parseInt(parts[i]).toString(16);
        if (parts[i].length == 1) parts[i] = '0' + parts[i];
        }
        color = '#' + parts.join('');
        return color;
        }
        $(document).ready(function () {

         $(".search-box input, .search-box select").focus(function(){
           $(this).parent().addClass("focused");
          }).blur(function(){
            $(this).parent().removeClass("focused");
          });

        $('.nav-button').each(function(index){
        var color = $(this).css('background-color');
        var hexcolor = hexc(color);
        var newcolor = ColorLuminance(hexcolor,-0.2);
        $(this).css('box-shadow','0px 5px 0px 0px '+newcolor+' ');
        $(this).hover(function(){
        $(this).css('background-color',ColorLuminance(hexcolor,0.2));
        $(this).css('box-shadow','0px 5px 0px 0px '+ColorLuminance(hexcolor,0.0)+' ');
        }, function(){
        $(this).css('background-color',ColorLuminance(hexcolor,0.0));
        $(this).css('box-shadow','0px 5px 0px 0px '+ColorLuminance(hexcolor,-0.2)+' ');
        }
        );
        });
        });
        </script>
        {% endlanguage %}
    </body>

</html>

