{% extends 'section_base.html' %}
{% load staticfiles %}
{% block title %}
	סיכומים ב{{ subject }} לבגרות | {{ category }} | הסיכומיה
{% endblock title %}
{% block main-header %}
    תתי נושאים <strong>ב{{ category }}</strong>
{% endblock main-header %}

{% block subsections %}
    {% for subcategory in subcategories  %}
        <h4 class="part-of-{{ category.subcategories_per_line }} subcategory"><a href="{{ subcategory.get_absolute_url }}">{{ subcategory }}</a></h4>
    {% endfor %}
{% endblock subsections %}

{% block secondary-header %}
    כל הסיכומים ב<strong>{{ category }}</strong>
{% endblock secondary-header %}