{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<LINK href="{% static "css/index.css" %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block body %}
            {% if user.is_authenticated %}
                <div class="row col-24 block karma-bar">
                <div class="call-to-action-text">
                <h3>כרגע יש לך <strong>{{ user.profile.karma }}</strong> קארמה</h3>
                <h4>הוסף סיכומים איכותיים לאתר והגדל את הקארמה שלך</h4>
                </div>
                    <a class="call-to-action" href="{% url 'upload' %}">
                        הוספת סיכום
                    </a>
                    <a class="call-to-action" href="{% url 'leaderboard' %}">
                        טבלת המובילים
                    </a>
                </div>
                {% endif %}
    <div class="row">
        <div class="title-block">
            <h3><span>אז מה אנחנו מנסים לעשות בעצם?</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="block">
            <h4>לרכז את כל הסיכומים לבגרות במקום אחד, נוח ומסודר. בשבילכם.</h4>
            <p>בגרויות זה כאב ראש - אבל זה לא חייב להיות ככה. לא נמאס לכם שאתם לא בדיוק בטוחים מה הנושאים לבגרות? שהדרך היחידה שלכם להשיג סיכומים לבגרות זה לקחת מחברות מחברים או לקנות מיקודים יקרים? הסיכומיה באה לפתור את כל הבעיות האלה בשבילכם. בעזרת חכמת ההמונים.</p>
        </div>
    </div>
    <div class="row">
        <div class="feature-block">
        <img src="{% static "images/idea.svg" %}" alt="" height="80">
        <div class="text">
        <h4 class="tagline"><strong>על ידי</strong> תלמידים - <strong>בשביל</strong> תלמידים</h4>   
        <p>הסיכומיה נבנתה ע"י תלמידים מתסוכלים, שרוצים לראות פתרון טוב יותר.</p>      
        </div>   
        </div>
        <div class="feature-block">
        <img src="{% static "images/order.svg" %}" alt="" height="80"> 
        <div class="text">
        <h4 class="tagline">סוף סוף עושים קצת סדר</h4>   
        <p>צוות הסיכומיה יושב וקורא את כל המסמכים המבולגנים שמפרסם משרד החינוך ומסדר לכם את הנושאים הרשמיים לבגרות במקום אחד.</p>         
        </div>   
        </div>
        <div class="feature-block">
        <img src="{% static "images/check_book.svg" %}" alt="" height="80">                
        <div class="text">
        <h4 class="tagline">דגש על איכות</h4>   
        <p>אחד הדברים החשובים באתר הסיכומיה היא האיכות של הסיכומים. בעזרת הדירוגים <strong>שלכם</strong> אנחנו נדאג שכולם יקבלו רק את הסיכומים ברמה הכי גבוהה.</p>         
        </div>
        </div>
    </div>
    <div class="row">
        <div class="title-block">
            <h3><span>איך זה עובד?</span></h3>
        </div>
    </div>
    <div class="row steps">
        <div class="step-block">
            <h4>מעלים סיכומים לאתר</h4>
            <p>
            הסיכומיה נותנת לכם ממשק פשוט ונוח כדי להעלות את הסיכומים שלכם מהמחשב. כל מה שצריך זה להעתיק ולהדביק מהוורד.
            </p>
        </div>
        <div class="step-block">
            <h4>מדרגים ומגיבים על סיכומים</h4>
            <p>
            אהבתם סיכום? דרגו אותו על ידי לחיצה על כפתור "אהבתי".
            ראיתם סיכום ברמה נמוכה? לחצו על כפתור "לא משהו" . 
            אנחנו כבר נדאג שהסיכומים שמדורגים נמוך ייקברו, והסיכומים הטובים ביותר ייקבלו חשיפה.
            </p>
        </div>
        <div class="step-block">
            <h4>צוברים קארמה</h4>
            <p>
            כל סיכום שאתה מעלה מזכה את המשתמש שלך בחמש נקודות קארמה, וכל דירוג חיובי שהסיכומים שלך מקבלים מזכה את המשתמש שלך בנקודת קארמה אחת. המשתמשים עם הכי הרבה קארמה ידורגו בטבלת המובילים.
            </p>
        </div>
    </div>
        {% if user.is_authenticated == False %}
    <div class="row register">
    <a class="call-to-action" href="{% url 'register' %}">
        הרשם עכשיו <strong>בחינם</strong>
    </a>
    </div>
    {% endif %}


    {% endblock %}