{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<LINK href="{% static "css/index.css" %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block body %}
    <div class="row">
        <div class="title-block">
            <h3><span>אז מה אנחנו מנסים לעשות בעצם?</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="block">
            <h4>הסיכומיה באה לעזור לכם למצוא סיכומים איכותיים לבגרות, בלי כאב ראש מיותר.</h4>
            <p>נמאס לכם לבקש סיכומים מחברים? אנחנו מציאים פלטפורמה ייחודית לכל תלמידי ישראל, לשתף סיכומים לבגרות ולרכז את כל הסיכומים במאגר אחד מסודר.</p>
            <p>אנחנו צריכים את העזרה שלכם כדי שהפרוייקט הזה יצליח. <strong>יש לכם סיכומים על המחשב?</strong> תעלו אותם לאתר ומאות תלמידים אחרים יוכלו להנות מהסיכומים שלכם.</p>
        </div>
    </div>
    <div class="row">
        <div class="title-block">
            <h3><span>איך זה עובד?</span></h3>
        </div>
    </div>
    <div class="row steps">
        <div class="feature-block">
            <h4>מעלים סיכומים מהמחשב</h4>
            <p>
            הסיכומיה נותנת לכם ממשק פשוט ונוח כדי להעלות את הסיכומים שלכם מהמחשב. כל מה שצריך זה להעתיק ולהדביק.
            </p>
        </div>
        <div class="feature-block">
            <h4>מדרגים ומגיבים על סיכומים</h4>
            <p>
            אהבתם סיכום? דרגו אותו על ידי לחיצה על כפתור "אהבתי".
            ראיתם סיכום ברמה נמוכה? לחצו על כפתור "לא משהו" . 
            אנחנו כבר נדאג שהסיכומים שמדורגים נמוך ייקברו, והסיכומים הטובים ביותר ייקבלו חשיפה.
            </p>
        </div>
        <div class="feature-block">
            <h4>צוברים קארמה</h4>
            <p>
            כל דירוג חיובי מקנה את המעלה שלו בנקודת קרמה, המשתמשים עם הכי הרבה קרמה ימצאו את השם שלהם בטבלת המובילים.
            </p>
        </div>
    </div>
        {% if user.is_authenticated == False %}
    <div class="row register">
    <a class="call-to-action" href="{% url 'register' %}">
        הרשם עכשיו <strong>בחינם</strong>
    </a>
    </div>
    {% endif %}


    {% endblock %}