{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <LINK href="{% static "css/index.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="slider col-12">
            <h3>פתרון פשוט וקל כדי ללמוד לבגרות <strong>כמו שצריך</strong></h3>
        <blockquote>אתר סיכומים.נט נותן לכם דרך פשוטה וקלה לשתף סיכומים ולקבל בתמורה מאגר עצום של סיכומים לבגרות, חושבים שיש קץ'? אין קץ.<strong> סיכומים.נט זה בחינם, וזה תמיד יהיה בחינם</strong></blockquote>
    </div>
    <div class="col-4 ad"></div>
</div>
<div class="row">

</div>
{% endblock %}