{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
     הרשמה | סיכומים לבגרות | הסיכומיה
{% endblock title %}
{% load widget_tweaks %}
{% load socialaccount %}
{% block head %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css">
    {%  endblock %}
    {% block body %}
        <div class="row">
            <div clas="col-6">
                <div class="block-header">
                    <h2>הרשמה</h2>
                    <h4>הרשם היום ותוכל להתחיל להנות ממגוון הסיכומים באתר</h4>
                </div>
                <div class="block">
                 <div class="row">
                     <div class="col-8 regular-register">
                    {% if registered %}
                        <h4>נרשמת בהצלחה למערכת</h4>
                    {% else %}
                        <form id="user_form" method="post" action="/register/">
                            {% csrf_token %}
                            <div class="field">
                            <label for="id_username">שם משתמש</label>
                            <p>
                                {{ user_form.username}}
                                {% if user_form.username.errors %}<span>{{ user_form.username.errors.as_text|cut:"* " }}</span>{% endif %}
                            </p>
                            </div>
                            <div class="field">            
                            <label for="id_password">סיסמא</label>
                            <p>
                                {{ user_form.password }}
                                {% if user_form.password.errors %}<span>{{ user_form.password.errors.as_text|cut:"* " }}</span>{% endif %}
                            </p>
                            </div>
                            <div class="field">                            
                            <label for="id_confirm_password">אשר סיסמא</label>
                            <p>
                                {{ user_form.confirm_password }}
                                {% if user_form.confirm_password.errors %}<span>{{ user_form.confirm_password.errors.as_text|cut:"* " }}</span>{% endif %}
                            </p>
                            </div>
                            <div class="field">                            
                            <label for="id_email">כתובת אימייל</label>
                            <p>
                                {{ user_form.email }}
                                {% if user_form.email.errors %}<span>{{ user_form.email.errors.as_text|cut:"* " }}</span>{% endif %}
                            </p>
                            </div>
                            <div class="field">
                            <p>
                                 {{ user_form.captcha }}
                                 {% if user_form.captcha.errors %}<span class="error-message">{{ user_form.captcha.errors.as_text|cut:"* " }}</span>{% endif %}
                            </p>
                            </div>
                           <input type="submit" name="submit" value="הרשם עכשיו">
                        </form>
                    {% endif %}
                     </div>
                     <div class="col-6 divider">
                     <div class="line"></div>
                         <h6><span>או</span></h6>
                     </div>
                     <div class="col-10 social-register">
                     <h5>הרשמה מהירה באמצעות חשבון חיצוני</h5>
                     <p>לעולם לא נפרסם לכם שום דבר, מבטיחים!</p>
                         <a href="{% provider_login_url "google" %}" class="google-login">הרשמה מהירה עם גוגל</a>
                         <a href="/accounts/facebook/login" class="facebook-login">הרשמה מהירה עם פייסבוק</a>
                     </div>
                 </div>
                </div>
            </div>
        </div>
        {%  endblock %}