{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
     תוצאות חיפוש | סיכומים לבגרות | הסיכומיה
{% endblock title %}
{% block head%}
    <link href="{% static "css/search.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    $(document).ready(function () {
    $(".search-panel").show();
    $(".search-panel").off();
    $(document).off();
});
    </script>
{% endblock %}
{% block body %}
    {% if summaries %}
        <div class="block-header row">
            <h2> תוצאות חיפוש עבור <strong>"{{request.GET.query}}"</strong></h2>
            <p>  {{ sumAmount }} סיכומים על גבי {{summaries.paginator.num_pages}} עמודים </p>
        </div>
        {% include "summaries.html" %}
    {% else %}
        <div class="block-header row">
            <h2> לא נמצאו תוצאות חיפוש עבור <strong>"{{request.GET.query}}"</strong></h2>
        </div>
    {% endif %}
{% endblock %}