{% extends 'base.html' %}
{% load staticfiles %}
{% load website_extras %}
{% block head%}
    <style>
    .categories h3{
    border-bottom: 2px solid #{{ subject.color }};
    }
    .categories h3 a{
    color: #{{ subject.color }};
    }
    .categories h3:hover{
    border-radius:6px;
    background-color: #{{ subject.color }};
    }
    .categories h3:hover a{
    color:white;
    }
    .subject-tag{
    background-color: #{{ subject.color }};
    }
    </style>
    <link href="{% static "css/sectionbase.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="block-header main-header" style="background: #{{subject.color}}
            url(/../static/images/{{subject.name}}.png) no-repeat 3%{% if  subject.name == 'english' %}
                bottom
            {% endif %};">
            <h2>
            {% block main-header %}
            {% endblock main-header %}
            </h2>
        </div>
    <div class="block subsections">
        {% block subsections %}
        {% endblock subsections %}
    </div>
    </div>
    <div class="row">
        <div class="secondary-header" style="background: #{{subject.color}}">
            <h3>
            {% block secondary-header %}
            {% endblock secondary-header %}
            </h3>
            <p>  {{ sumAmount }} סיכומים על גבי {{summaries.paginator.num_pages}} עמודים </p>
        </div>
    </div>
    {% include "summaries.html" %}

        <script>
    function shrinkToLines(el,lines){
    var lineHeight = parseFloat(el.css('line-height'));
    while(el.height()> lineHeight*lines){
    lineHeight = parseFloat(el.css('line-height'));
    var fontSize = parseFloat(el.css("font-size"));
    fontSize = fontSize - 1 + "px";
    el.css({'font-size':fontSize});
    }
    }
    var subject_color = "#{{ subject.color }}";
    $(document).ready(function(){

    $('[name=subject] option').filter(function() { 
    return ($(this).val() == '{{ subject.name }}');
    }).prop('selected', true);

    $('.main-header h2').each(function() {
    shrinkToLines($(this),2);
    });
    shrinkToLines($('.secondary-header h3'),1);
    
    });
    </script>

{% endblock %}