{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
       <div class="row">
        <div class="block-header" style="background: #{{subject.color}}">
            <h2>
            {{ subcategory }}
            </h2>
            <p>  {{ sumAmount }} סיכומים על גבי {{summaries.paginator.num_pages}} עמודים </p>
        </div>
    </div>
    <div class="summaries-block">
        {% for summary in summaries.object_list  %}
            <div class="col-24">
                <a href="{{summary.get_absolute_url}}">
                    <h4 class="summary-header">
                    {{ summary.title }}
                    <span class='subject-tag'><span>{{ summary.subcategory }}</span></span>
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <ul>
            {% if summaries.has_previous %}
                <li><a href="?page={{ summaries.previous_page_number }}">הקודם</a></li>
            {% else %}
                <li class="disabled">הקודם</li>
            {% endif %}
            {% for page in summaries.paginator.page_range  %}
                {% if page == summaries.number %}
                    <li><a class="active" href="?page={{ page }}" >{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}" >{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if summaries.has_next %}
                <li><a href="?page={{ summaries.next_page_number }}">הבא</a></li>
            {% else %}
                <li class="disabled">הבא</li>
            {% endif %}
        </ul>
    </div>
{% endblock body %}