{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<link href=" {% static "css/summary.css" %}" rel=stylesheet type="text/css">
	<link href=" {% static "css/edit_summary.css" %}" rel=stylesheet type="text/css">
{% endblock %}
{% block body %}
<form method="post" action="" >
{% csrf_token %}
{{ summary_form.media }}
	<div class="block-header {{ subject }} row">
		<span class="edit-title">{{ summary_form.title }}</span>
		<span>
		</div>
		<div class="block">
				{{ summary_form.content }}
		</div>
					<div class='options-bar'>
				<div class="favorites-module">
					<input type='submit' name="submit" value="שמור">
				</div>
			</div>
</form>

	{% endblock %}