{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	סיכומים ב{{ subject }} לבגרות | {{ summary.category }} | הסיכומיה
{% endblock title %}
{% block head %}
	<link href=" {% static "css/summary.css" %}" rel=stylesheet type="text/css">
	<style type="text/css">
	.block-header{
		background-color: #{{summary.subject.color}};
	}
	</style>
{% endblock %}
{% block body %}
	<div class="block-header row">
		<h3>{{ summary.title }}</h3>
		<span>{{ summary.views.count }} צפיות</span>
		<span>
	</div>
		{% if user.is_authenticated %}
			<div class='options-bar'>
				<div class="rating-module">
					<h4>איך הסיכום?</h4>
					{% with summary.users_rated_positive.all as users_rated_positive  %}
					<a class='button positive {% if user in users_rated_positive %}selected{% endif %} '>
					<img class="svg" height="25" width="25" src="{% static "images/positive.svg" %}">אהבתי  ({{ users_rated_positive | length }})
					</a>					    
					{% endwith %}
					{% with summary.users_rated_negative.all as users_rated_negative  %}
					<a class='button negative {% if user in users_rated_negative %}selected{% endif %} '>
					<img class="svg" height="25" width="25" src="{% static "images/negative.svg" %}">לא משהו  ({{ users_rated_negative | length }})
					</a>
					{% endwith %}
				</div>
				<div class="favorites-module">
				<a href="#comments" class="secondary-button" >לתגובות</a>
					{% if user.id == summary.author.id %}
					<a class='secondary-button' href="{% url 'edit_summary' summary.subject.name summary.category.name summary.id %}">ערוך סיכום</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<div class="block">
			<div class="content">
				{{ summary.content|safe}}
			</div>
		</div>
		<a name="comments"></a>
		<div class="block-header"><h3>תגובות</h3></div>
		<ol class="comments-wrapper">
		{% for comment in summary.comments.all.select_related.all %}
			<li>
			<a name="{{ comment.id }}">
			</a>
				<span class="comment-info">
					<p class="author">{{ comment.user }}</p>
					<p class="timestamp">{{ comment.date_created |date:"SHORT_DATETIME_FORMAT"  }}</p>
				</span>
				<span class="comment-content"><p>{{ comment.content }}</p></span>
			</li>
		{% endfor %}
		{% if user.is_authenticated %}
		<form method="post" action="">
		{% csrf_token %}
			<li id="addComment">
				<span class="comment-info">
					<p class="author">{{ user.username }}</p>
					<p class="timestamp" dir="ltr">{% now "SHORT_DATETIME_FORMAT" %}</p>
				</span>
				<span class="comment-content">{{ comment_form.content }}<input type="submit" value="הוסף תגובה" name="submitComment"></span>			
			</li>
		</form>
		{% endif %}
		</ol>
	<script src=" {% static "js/rating-ajax.js" %}"></script>
	<script>
		var id = {{ summary.id }};
		var url = {% url 'rate_summary' %} ;

	</script>
	{% endblock %}