{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<link href=" {% static "css/summary.css" %}" rel=stylesheet type="text/css">
	<script src=" {% static "js/rating-ajax.js" %}"></script>
	<script>
		var id = {{ summary.id }};
		var url = {% url 'rate_summary' %} ;
	</script>
{% endblock %}
{% block body %}
	<div class="block-header {{ subject }}">
		<h3>{{ summary.title }}</h3>
		<span>{{ summary.views.count }} צפיות</span>
		<span>
		</div>
		{% if user.is_authenticated %}
			<div class='options-bar'>
				<div class="rating-module">
					<h4>איך הסיכום?</h4>
					<a class='button positive {% if user in summary.positive_ratings.all %}selected{% endif %} '>אהבתי  ({{ summary.positive_ratings.count }})</a>
					<a class='button negative {% if user in summary.negative_ratings.all %}selected{% endif %} '>לא משהו  ({{ summary.negative_ratings.count }})</a>
				</div>
				<div class="favorites-module">
					<a class='button'>הוסף למועדפים</a>
					{% if user.id == summary.author.id %}
					<a class='button' href="{% url 'edit_summary' summary.subject summary.id %}">ערוך סיכום</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<div class="block">
			<div class="content">
				{{ summary.content|safe}}
			</div>
		</div>
		<div class="block-header"><h3>תגובות</h3></div>
		<ol class="comments-wrapper">
		{% for comment in summary.comments.all %}
			<li>
				<span class="comment-info">
					<p class="author">{{ comment.user }}</p>
					<p class="timestamp">{{ comment.date_created |date:"SHORT_DATETIME_FORMAT"  }}</p>
				</span>
				<span class="comment-content"><p>{{ comment.content }}</p></span>
			</li>
		{% endfor %}
		{% if user.is_authenticated %}
		<form method="post" action="">
		{% csrf_token %}
			<li id="addComment">
				<span class="comment-info">
					<p class="author">{{ user.username }}</p>
					<p class="timestamp" dir="ltr">{% now "SHORT_DATETIME_FORMAT" %}</p>
				</span>
				<span class="comment-content">{{ comment_form.content }}<input type="submit" value="הוסף תגובה" name="submitComment"></span>			
			</li>
		</form>
		{% endif %}
		</ol>

	{% endblock %}