@import "reset";
@import "grid_system";
@import "colors";

/* fonts */

@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=hebrew);

/* box sizing */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* typography */

body {
    color: $dark_grey;
    font-size: 12px;
    font-family: 'Arimo', 'sans-serif';
    font-weight: 400;
    line-height: 1.6;
}

h2, h3, h4, h5 {
    font-family: 'Open Sans Hebrew', 'sans-serif';
}

h2 {
    font-size: 3.8em;
    font-weight: 300;
}

h3 {
    font-size: 2.7em;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
}

h5 {
    font-size: 1.2em;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

/* default element styles */

input {
    padding: 0.5em;
    border: none;
    height: 2.5em;
    font-size: 1.3em;
    vertical-align: middle;
    display: inline-block;

    &:focus {
        outline: none;
    }
}

.button {
    @extend input;

    color: white;
    background-color: $dark_blue;
    padding: 0.5em 1em 0.5em 1em;

    &:hover {
        background-color: $dark_blue_highlight;
        cursor: pointer;
    }
}

/* fix for an annoying firefox bug */

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -2px;
    margin-bottom: -2px;
}

input[type="submit"] {
    @extend .button;
}

a {
    border: none;
    text-decoration: none;
}

blockquote {
    background: $dark_blue;
    color: white;
    font-size: 1.4em;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.block-header {
    background-color: $dark_blue;
    color: white;
    padding: 0.5em;
}

.block {
    font-size: 1.166666666666667em;
    background-color: $grey;
    padding: 1em;
}

.row {
    margin-top: $gutter_percent;

    .row {
        margin-top: 0;
    }
}

/* skeleton styles */

.container {
    margin: ($gutter_percent / 2) auto;
    padding: 0 $gutter_percent;
    max-width: 1024px;
}

header {
    display: table;
    color: white;
    background-color: $light_blue;
    overflow: hidden;
    width: 100%;
    padding: 3em;

    .logo_wrapper {
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;

        h1 {
            text-indent: 100%;
            overflow: hidden;
            background-image: url(../images/logo.png);
            width: 270px;
            height: 121px;
        }
    }

    .login {
        vertical-align: middle;
        display: table-cell;

        form {
            float: left;
            background-color: $light_blue_highlight;
            padding: 1.5em;

            h4 {
                margin-bottom: 10px;
            }

            input[type="text"], input[type="password"] {
                width: 7em;
                margin-left: 5px;

                &:focus {
                    outline-offset: 0px;
                    outline: 2px solid $dark_blue_highlight;
                }
            }

            input[type="submit"], a {}

            .welcome_message {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                margin-bottom: 0;
            }
        }
    }
}

.error {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.2em;
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    padding: 10px 15px;
}

.login_error {
    @extend .error;

    background: #d45252 url(../images/warning.png) no-repeat 10px 50%;
    padding-left: 45px;
}

nav {
    ol {
        list-style: none;
        padding: 0px;
        margin: 0px;

        a {
            display: table;
            text-decoration: none;

            li {
                text-align: center;
                color: white;
                font-family: "open sans hebrew", 'sans-serif';
                font-size: 1.9em;
                font-weight: 400;
                display: table-cell;
                vertical-align: middle;
                height: 2.47em;
                width: 100%;
            }
        }

        > :nth-child(1) {
            background: $english;
        }

        > :nth-child(2) {
            background: $bible;
        }

        > :nth-child(3) {
            background: $history;
        }

        > :nth-child(4) {
            background: $civics;
        }

        > :nth-child(5) {
            background: $language;
        }

        > :nth-child(6) {
            background: $literature;
        }
    }
}

.search-box {
    width: 100%;
    border: 3px solid $dark_blue;
    padding: 0.5em;
    overflow: hidden;

    input[type="text"] {
        width: 75%;
        font-size: 1.3em;
    }

    input[type="submit"] {
        float: left;
        width: 25%;
        font-size: 1.3em;
        line-height: 1em;
    }
}

.search-panel{
    background-color: $dark_blue;
    padding: 0.5em;
    font-size: 1.3em;

}

.ck-button {
    margin:4px;
    background-color:#E8E8E8 ;
    color: #787878 ;
    border-radius:3px;
    overflow:auto;
    display: inline-block;
    vertical-align: middle;
    &:hover{

    }
}

.ck-button label span {
    text-align:center;
    display:block;
    padding: 0.5em 1.5em;
}

.ck-button label input {
    position:absolute;
    top:-50px;
}

.ck-button input:checked + span {
    background-color:$light_blue;
    color:#fff;
    &:hover{
        background-color: $light_blue_highlight;
    }
}

select{
    padding: 0.8em 1.5em;
}

footer {
    color: white;
    background-color: $light_blue;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    margin-top: $gutter_percent;
    margin-bottom: gutter_percent;
}

/* colors */

.english {
    background-color: $english;

    ol &:hover {
        background-color: $english_highlight;
    }
}

.bible {
    background-color: $bible;

    ol &:hover {
        background-color: $bible_highlight;
    }
}

.history {
    background-color: $history;

    ol &:hover {
        background-color: $history_highlight;
    }
}

.civics {
    background-color: $civics;

    ol &:hover {
        background-color: $civics_highlight;
    }
}

.language {
    background-color: $language;

    ol &:hover {
        background-color: $language_highlight;
    }
}

.literature {
    background-color: $literature;

    ol &:hover {
        background-color: $literature_highlight;
    }
}