@import "reset";
@import "grid_system";
@import "colors";
@import 'pagination';

/* fonts */

@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=hebrew);

/* box sizing */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*{
        border-radius:2px;
}

/* typography */

body {
    //background: url(../images/bg.png);
    color: $dark_grey;
    font-size: 12px;
    font-family: 'Arimo', 'sans-serif';
    font-weight: 400;
    line-height: 1.6;
}

p{
    font-size: 1.2em;
    margin-top: 0.2em;
}

h2, h3, h4, h5 {
    font-family: 'Open Sans Hebrew', 'sans-serif';
}

h2 {
    font-size: 3.8em;
    font-weight: 300;
}

h3 {
    font-size: 2.7em;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
}

h5 {
    font-size: 1.2em;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

.title-block{
    h3{
        margin-top: 1em;
        color: $dark_blue;
        text-align: center;
        position: relative;
        span{
            background: #fff;
            padding: 0 15px;
            position: relative;
            z-index: 1;
        }

        &:before{
        background: $dark_blue;
          content: "";
          display: block;
          height: 1px;
          position: absolute;
        top: 50%;
          width: 100%;
        }
    }
}

/* default element styles */

input {
    padding: 0.5em;
    border: none;
    height: 2.3em;
    font-size: 1.3em;
    vertical-align: top;
    display: inline-block;

    &:focus {
        outline: none;
    }
}

.button {
    @extend input;
    color: white;
    background-color: $dark_blue;
    padding: 0.5em 1em 0.5em 1em;
    box-shadow: 0px 5px 0px 0px $dark_blue_shadow;
    margin-bottom: 5px;
    border-radius: 3px;
    line-height: 1.5em;
    text-align: center;
    &:hover {
        background-color: $dark_blue_highlight;
        color:white;
        cursor: pointer;
    }
    &:active{
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        box-shadow: 0px 0px 0px 0px;
    }
}

.secondary-button{
    padding: 0.5em 1em 0.5em 1em;
    background-color: shade($light_blue, 50%);
    color: white;
    font-size: 1.3em;
    text-align: center;
    &:hover{
        background-color: shade($light_blue, 60%);
    }
}

/* fix for an annoying firefox bug */

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -2px;
    margin-bottom: -2px;
}

input[type="submit"] {
    @extend .button;
}

a {
    border: none;
    text-decoration: none;
}

/* clearfix */

@mixin clearfix(){
    &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
}


blockquote {
    background: $dark_blue;
    color: white;
    font-size: 1.4em;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.block-header {
    background-color: $light_blue_highlight;
    color: white;
    padding: 1em;
    text-align: center;

    & + .block{
        border-top: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px; 
    }

}

.block {
    font-size: 1.166666666666667em;
    background-color: $light_grey;
    border: 1px solid $grey;
    padding: 1em;
    &:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    }
}

.row {
    margin-top: 1rem;
}

.summary-header {
    margin-top: 0.3em;
    background: $light_grey;
    border: 1px solid $grey;
    text-align: right;
    color: $dark_blue;
    border-bottom: 3px solid $light_blue;

    p {
        font-size: 0.8em;
    }

    font-weight: 400;
    position: relative;
    display: table;
    width: 100%;
    border-collapse:separate;
    border-spacing: 0.5em;
    .summary-text{
        display: table-cell;
        width: 100%;
    }
    &:hover {
        background: $light_blue;
        color: white;
        border: 1px solid $light_blue;
        border-bottom: 3px solid $dark_blue;
        .tag {
            span{
            background: white!important;
            color: $dark_blue;
        }
        }
    }
    .tag {
    display: table-cell;    
    vertical-align: middle;
    span{
    color: white;
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    margin-right: 1em;
}
}
}

.summary-info{
    font-size: 0.7em;
    p{
        color: $dark_blue;
        a{
            color: $dark_blue;
        }
    }
}



.message{
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 2px black;
    -moz-box-shadow:    0 0 2px black;
    box-shadow:         0 0 2px black;
    font-size: 1.5em;
    padding: 0.5em;
    -webkit-transform: translateY(100%);
    -webkit-animation: slideDown 5s 1 ease forwards;
    -moz-transform:    translateY(100%);
    -moz-animation:    slideDown 5s 1 ease forwards;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-webkit-calc(-100%));}
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-moz-calc(-100%)); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.success{
    color:white;
    background: $success-green url(../images/success.svg) no-repeat 2% center;
    background-size: auto 60%;
    text-shadow: 1px 1px 0px shade($success-green,90%);
}
.error{
    color:white;
    background: $error-red url(../images/error.svg) no-repeat 1.2em center;
    background-size: auto 60%;
    text-shadow: 1px 1px 0px shade($error-red,90%);
}
.warning{
    color:white;
    background: $warning-yellow url(../images/warning.svg) no-repeat 1.2em center;
    background-size: auto 60%;
    text-shadow: 1px 1px 0px shade($warning-yellow,90%);
}
.info{
    color:white;
    background: $info-blue url(../images/info.svg) no-repeat 1.2em center;
    background-size: auto 60%;
    text-shadow: 1px 1px 0px shade($info-blue,90%);
}



%alert{
    font-weight: 600;
    font-size: 1.2em;
    padding: 1.2em 1.7em;
    padding-left: 20%;
    margin-top: 1em;
    border-radius: 3px 3px 3px 3px;
}


.success-alert{
    @extend %alert;
    @extend .success;
    border: 1px solid shade($success-green,90%);
}

.error-alert{
    @extend %alert;
    @extend .error;
    border: 1px solid shade($error-red,90%);

}

.warning-alert{
    @extend %alert;
    @extend .warning;
    border: 1px solid shade($warning-yellow,90%);
}

.info-alert{
    @extend %alert;
    @extend .warning;
    border: 1px solid shade($info-blue,90%);
}

/* skeleton styles */

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.header-container{
    background-color: $light_blue;
}

header {
    max-width: 1024px;
    display: table;
    color: white;
    overflow: hidden;
    width: 100%;
    padding: 3em 0em;
    margin: 0 auto;
    .logo_wrapper {
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;

        h1 {
            text-indent: 100%;
            overflow: hidden;
            background-image: url(../images/logo.png);
            width: 262px;
            height: 121px;
        }
    }

    .panel-wrapper {
        vertical-align: middle;
        display: table-cell;
        position: relative;

        .panel{
    background-color: $light_blue_highlight;
            padding: 1.5em;
        form {
        position: relative;
            h4 {
                position: relative;
                margin-bottom: 10px;

                .lock{
                background-image: url(../images/lock.png);
                width:37px;
                height: 52px;
                position: absolute;
                bottom:6px;
                left:0em;
            }
            }

            input[type="text"], input[type="password"] {
                width: 9em;
                margin-left: 8px;
                height: 2.55em;
                &:focus {
                    outline-offset: 0px;
                    outline: 2px solid $dark_blue_highlight;
                }
            }

            input[type="submit"]{
                margin-bottom: 10px;
            }
           
            .welcome_message {
                display: block;
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }

        #logout_form{
            width: 100%;
            .panel-actions > *{
                @include cols(8);
            }
        }

         .social-logins{
            font-size: 1.2em;
                margin-top: 18px;
                margin-bottom: 13px;

                .google-login{
                                        margin-left: 8px;
                }
            }


            .forgot-password-link{
                margin-top: 1rem;
                display: block;
                color: white;
                display: block;
                font-size: 1.2em;
                        font-weight: bold;
            }
    }
}
}

                .google-login{
                    border-radius:3px;
                    color: white;
                    background: url(../images/google.svg) no-repeat 7% center;
                    background-color: $google-orange;
                    background-size: 28px 28px;
                    padding: 1em 2em 1em 3.5em;
                    &:hover{
                    background-color: tint($google-orange, 90%);
                    color:white;
                    }
                }
                .facebook-login{
                    border-radius:3px;
                    color: white;
                    background: url(../images/facebook.svg) no-repeat 7% center;
                    background-color: $facebook-blue;
                    background-size: 28px 28px;
                    padding: 1em 2em 1em 3.5em;
                                        &:hover{
                    background-color: tint($facebook-blue, 90%);
                    color:white;
                    }
                }

.karma-bar{
    background-color: $light_grey;
    padding: 1em;
    display: table;
    width: 100%;
    text-align: left;
    .call-to-action-text{
        text-align: right;
        display: table-cell;
        vertical-align: middle;
        color: $dark_blue;
        padding-right: 0.4em;

        h4{
            
        }
    }
    .call-to-action{
        height: 100%;
        display: block;
        padding: 0.3em;
        &:first-of-type{
            color: white;
            background-color: $light_blue;
            box-shadow: 0px 5px 0px 0px $light_blue_shadow;
            &:hover{
                background-color: $light_blue_highlight;
            }
            &:active{
                box-shadow: 0px 0px 0px 0px $light_blue_shadow;
            }
            margin-bottom: 10px;
        }
        &:last-of-type{
                    font-size: 1rem;
            margin-bottom: 5px;
        }
    }
}

    .search-box {
    border: 1px solid $grey;
    background-color: white;
    padding: 0.5em;
    height: 60px;
    input{

    }
    input[type="text"] {
    width: calc(100% - 220px);
    float:right;
    height: 100%;
    display: inline-block;
    height: 100%;
    }

    select{
        padding: 0 0.4em;
        height:100%;
        float: left;
        margin-left: 0.5em;
    }
    input[type="submit"] {
        height: 90%;
        float: left;
        min-width: 90px;
        margin-bottom: 5px;
    }
}

.focused{
    border: 1px solid white;
    outline: 3px solid $dark_blue;
}


.login_error {
    @extend .error-alert;
    
    padding-left: 45px;
}

nav {

    display: inline-block;
    cursor: default;
    z-index: 500;
    >ol {
        position: relative;
        list-style: none;
        padding: 0px;
        margin: 0px;

        >li {
            display: table;
            text-decoration: none;
            margin-bottom: 5px;
            >.nav-button {
                text-align: center;
                color: white;
                font-family: "open sans hebrew", 'sans-serif';
                font-size: 1.7em;
                font-weight: 400;
                display: table-cell;
                vertical-align: middle;
                height: 50px;
                width: 100%;
        }


    }
    }

}




.call-to-action{
    @extend .button;
    font-family: 'Open Sans Hebrew', 'sans-serif';
        padding: 0.5em 1em;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 2em;
        font-weight: 400;
        height: 57px;
}


select{
    padding: 0.8em 1.5em;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -240px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 240px; 
}

footer{
    padding-top: 1em;
    margin-top: $gutter_percent*4;
    color: white;
    background-color: $light_blue;
    font-size: 1.5em;
    .©{
    text-align: center;
    padding: 1em 0em;
    background-color: $light_blue_highlight;
    width: 100%;
    margin-top: 2rem;
    }
    .row{
        @extend .container;
        .footer-block{
        @include part_of(3,6%);
        h5{
            border-bottom: 1px solid white;
            margin-bottom: 0.5em;
        }
        li{
            a{
                display:block;
                color: white;
                padding: 0.3em;
                -webkit-transition: .1s all linear;
                -moz-transition: .1s all linear;
                -o-transition: .1s all linear;
                transition: .1s all linear;    
            }
            .facebook-link, .google-link{
                text-align: left;
                padding: 0.3em 0.6em;
                border-radius:3px;
                color: white;
            }
            .facebook-link{
                background-color: $facebook-blue;
                background: url(../images/facebook.svg) no-repeat 93% center;
                background-color: $facebook-blue;
                background-size: 28px 28px;
                &:hover{
                background-color: tint($facebook-blue, 90%);
                color:white;
                }
            }
            .google-link{
                background-color: $google-orange;
                background: url(../images/google.svg) no-repeat 93% center;
                background-color: $google-orange;
                background-size: 28px 28px;
                &:hover{
                background-color: tint($google-orange, 90%);
                color:white;
                }
                margin-top: 0.5em;
            }
            &:hover{
                a{
                    background-color: white;
                    color: $dark_blue;
                }
                
            }
        }
        }
    }
}

/* colors */