$light_grey:#EAEEF0;
$light_grey_shadow:#D3D6D8;
$grey: #BBBEC0;
$dark_grey:#37474f;

$light_blue:#1ba1e2;
$light_blue_highlight: #34b5e9;
$light_blue_shadow: #1681B5;

$dark_blue:#2b5797;
$dark_blue_highlight:#3765a8;
$dark_blue_shadow:#224679;


$error-red:#d45252;
$success-green: #5cd053;
$warning-yellow:#dba013;
$info-blue: #008CBA;
$gold: #f3b215;
$silver: #C0C0C0;
$bronze: #CD7F32;

@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}
 
@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}