$grey:#f1f1f1;

$dark_grey: #3F3F3F;

$light_blue:#1ba1e2;
$light_blue_highlight:#34b5e9;

$dark_blue:#2b5797;
$dark_blue_highlight:#3765a8;

$english:#339933;
$english_highlight:#3fbf3f;

$bible:#f29808;
$bible_highlight:#f8ad35;

$history:#a200ff;
$history_highlight:#b433ff;

$civics:#e61300;
$civics_highlight:#ff5b4c;

$language:#8cc026;
$language_highlight:#9cd52a;

$literature:#00aeab;
$literature_highlight:#00ccc9;