$light_grey:#eceff1;
$grey: #607D8B;
$dark_grey:#37474f;

$light_blue:#1ba1e2;
$light_blue_highlight: #34b5e9;
$light_blue_shadow: #1681B5;

$dark_blue:#2b5797;
$dark_blue_highlight:#3765a8;
$dark_blue_shadow:#224679;