@import "colors";
.block{
    padding: 2em;
}


.block form label {
    font-size: 1.2em;
    font-weight: bold;
    display:block;
    margin-bottom: 0.2em;
}

.block form input, .block form select {
    margin-bottom: 0.4em;
    font-size: 1.5em;
    width:100%;
}

.block form input[type="submit"] {
    margin-top: 1.5%;
}

.block form input[type="text"],input[type="password"],input[type="email"] {
    border: 1px solid #B3B3B3;
}

.invalid{
    border: 1px solid #d45252!important;
    & + span{
        font-size: 1.3em;
        padding: 0.4em 0.7em;
        background: #FBE3E4;
        color: #D12F19;
        border: 1px solid #FBC2C4;
        display: inline-block;
        margin-top: 0.2em;
        width:100%;
    }
}


.block form p {
    position: relative;
}

.field{
    margin-bottom: 1rem;

}

.block input[type="submit"] {
    display: block;
}