@import "colors";
@import "grid_system";

.title-block{
    h3{
            margin-top: 1em;
        color: $light_blue;
        text-align: center;
        position: relative;
        span{
            background: #fff;
            padding: 0 15px;
            position: relative;
            z-index: 1;
        }

        &:before{
        background: $light_blue;
          content: "";
          display: block;
          height: 1px;
          position: absolute;
        top: 50%;
          width: 100%;
        }
    }
}

    p{
        font-size: 0.9rem;
    }



.feature-block {
    @include part_of(3,3%);
    padding: 2em;
    background-color: $light_grey;
    border: 1px solid $grey;
    min-height: 223px;
}

.block{

}

.register{
    margin-top: 3rem;
    text-align: center;
.call-to-action{
    text-align: center;
}
} 

