@import "colors";
@import "grid_system";

.title-block{
    h3{
        margin-top: 1em;
        color: $dark_blue;
        text-align: center;
        position: relative;
        span{
            background: #fff;
            padding: 0 15px;
            position: relative;
            z-index: 1;
        }

        &:before{
        background: $dark_blue;
          content: "";
          display: block;
          height: 1px;
          position: absolute;
        top: 50%;
          width: 100%;
        }
    }
}

    p{
        font-size: 0.9rem;
    }



.feature-block {
    @include part_of(3,6%);
    display: inline-block;
}

.steps>::before{
    font-size: 4em;
    font-weight: 900;
    font-family: 'Open Sans Hebrew', 'sans-serif';
    color: $light_blue;
    display: block;
    text-align: center;
    border-bottom: 1px solid $light_blue;
    margin-bottom: 0.5em;
}

.steps>:nth-child(1)::before{
    content:"1";
}
.steps>:nth-child(2)::before{
    content:"2";
    font-size: 4em;
}
.steps>:nth-child(3)::before{
    content:"3";
    font-size: 4em;
}

.block{

}

.register{
    margin-top: 3rem;
    text-align: center;
.call-to-action{
    text-align: center;
}
} 

