@import 'colors';
@import "grid_system";
@import 'pagination';





a{
	color:$light_blue;

	&:hover{
		color: $light_blue_shadow;
	}
}
table{
width: 100%;
border-collapse: separate;
    font-size: 1.166666666666667em;
    background-color: $light_grey;
    border: 1px solid $grey;
tr{
	&:nth-of-type(even){
		background-color: $light_grey_shadow;
	}


}


td, th {
	padding:1em;
}

td{
	text-align: right;
}

th{
	font-weight: bold;
	text-align: right;
	border-bottom: 3px solid $light_blue_shadow;
}
}

.first-place{
	background-color: $gold;
    border: 1px solid shade($gold,80%);
    h3{
    color: shade($gold,40%);
}
}

.second-place{
	background-color: $silver;
    border: 1px solid shade($silver,80%);
    h3{
    color: shade($gold,40%);
}
}

.third-place{
	background-color: $bronze;
    border: 1px solid shade($bronze,80%);
    h3{
    color: shade($bronze,40%);
}
}