@import "base";
@import "colors";
@import 'forms';


.social-register{
    height: 100%;
    background-color: white;
    border: 1px solid $grey;
    padding: 1em;
    a{
        display: block;
        font-size: 1.3em;

        &:first-of-type{
            margin-bottom: 1rem;
        }
    }

    p{
        margin-bottom: 1em;
    }
}


.block-header {
    padding: 1.25%;

    h4, h2 {
    text-align: center;
}
}



.block{
    padding: 2em;
}


.divider{
    position: relative;
    height: 400px;
    .line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}
    h6{
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
        span{
    padding: 9px;
    background: $light_grey;
        }

    }
}

.block form{
    input{
        width:100%;
    }
}

