@import "grid_system";
@import "colors";
@media only screen and (max-width: 1050px) {

header{
    padding: 3em;
}

}
@media only screen and (max-width: 930px) {
    .row{
        nav{
            margin-top: 0;
            ol{
                li{
                    @include part_of(4); 
                }
            }
        }
        .call-to-action{
            width: $one_col_width * 24 + $gutter_percent * (24 - 1)!important;
        }
        .search-box{
            width: $one_col_width * 24 + $gutter_percent * (24 - 1)!important;
            margin-right: 0;
            margin-top: $gutter_percent*2;
        }
    }

}
@media only screen and (max-width: 835px) {
    header{
        padding:0;
        padding-top: 1em;
        .logo_wrapper{
            display: block;
            
            h1{
                margin: 0 auto;
            }
            margin-bottom: 2em;
        }
        .panel-wrapper{
            border-top: 0.6em solid white;
            display: block;
            overflow: auto;
            .panel{
                width: 100%;
                padding:2em!important;
                form{
                    @include cols(14);
                    display: inline-block;
                    input[type="text"],input[type="password"]{
                        margin: 0;
                        @include sub_cols(5,14);
                        float: right;
                    }
                    input[type="text"]{
                        margin-right: 0;
                    }
                    input[type="submit"]{
                        @include sub_cols(4,14);
                    }
                    .lock{
                        background-repeat: no-repeat;
                        width: 22.2px!important;
                        height: 31.2px!important;
                        background-size: 22.2px 31.2px;
                    }
                }
            }

            .social-logins{
                @include cols(8);
                float: left;
                margin: 0!important;
                .facebook-login, .google-login{
                    display: block;
                    width: 100%;
                }
                .google-login{
                    margin-bottom: 1em;
                }
            }
        }
    }
.subsections{
.part-of-4{
    @include part_of(2); 
}
.part-of-2{
    @include part_of(1); 
}
}


.row{
    .main-header{
        text-align:right;
        h2{
            margin:0;
            width: 75%;
        }
    }
}



}



@media only screen and (max-width: 600px) {

.row{
    .main-header{
        background-size: -50%!important;
        h2{
            width: 100%;
            text-align: center;
        }
    }
}

.subsections{
[class^="part-of-"] {
    @include part_of(1); 
}
}
header{
.panel-wrapper{
.panel{
    form{
    @include part_of(1); 
}
    .social-logins{
        margin-top: 1em!important;
        @include part_of(1); 
    }
    .forgot-password-link{
        display: inline-block;
        margin-top: 1em;
}


}
}
}
}


@media only screen and (max-width: 500px) {
    .row{
        nav{
            margin-top: 0;
            ol{
                li{
                    @include part_of(2); 
                }
            }
        }
}
}




/* mobile layout */

/* @media screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) and (orientation: portrait) {
     .part-of-4,.part-of-3,.part-of-5,.part-of-6{
        margin-right: $gutter_percent;
        float: right;
        width: (100 - $gutter_percent * (1 - 1)) / 1;
                    &:nth-of-type(1n+1){
        margin-right: 0;
        }
        &:nth-of-type(n+2){
        margin-top:$gutter_percent;;
        }
}
    
}

@media only screen and (max-width: 470px) {

} */