@import "grid_system";
@import "colors";
@media only screen and (max-width: 1050px) {

header{
    padding: 3em;
}

}
@media only screen and (max-width: 930px) {
    .row{
        nav{
            margin-top: 0;
            ol{
                li{
                    width: $one_col_width * 6 + $gutter_percent * (6 - 1)!important;
                    &:nth-of-type(4n+1){
                    margin-right: 0!important;
                    }
                    &:nth-of-type(n+5){
                    margin-top:1em!important;
                    }
                }
            }
        }
        .call-to-action{
            width: $one_col_width * 24 + $gutter_percent * (24 - 1)!important;
        }
        .search-box{
            width: $one_col_width * 24 + $gutter_percent * (24 - 1)!important;
            margin-right: 0;
            margin-top: $gutter_percent*2;
        }
    }

}
@media only screen and (max-width: 835px) {
    header{
        padding:0;
        padding-top: 1em;
        .logo_wrapper{
            display: block;
            
            h1{
                margin: 0 auto;
            }
            margin-bottom: 2em;
        }
        .panel-wrapper{
            border-top: 0.6em solid white;
            display: block;
            overflow: auto;
            .panel{
                width: 100%;
                padding:2em!important;
                form{
                    @include cols(14);
                    display: inline-block;
                    input[type="text"],input[type="password"]{
                        margin: 0;
                        @include sub_cols(5,14);
                        float: right;
                    }
                    input[type="text"]{
                        margin-right: 0;
                    }
                    input[type="submit"]{
                        @include sub_cols(4,14);
                    }
                    .lock{
                        background-repeat: no-repeat;
                        width: 22.2px!important;
                        height: 31.2px!important;
                        background-size: 22.2px 31.2px;
                    }
                }
            }

            .social-logins{
                @include cols(8);
                float: left;
                margin: 0!important;
                .facebook-login, .google-login{
                    display: block;
                    width: 100%;
                }
                .google-login{
                    margin-bottom: 1em;
                }
            }
        }
    }
    .part-of-4{
        margin-right: $gutter_percent;
        float: right;
        width: (100 - $gutter_percent * (2 - 1)) / 2;
        &:nth-of-type(2n+1){
        margin-right: 0;
        }
        &:nth-of-type(n+3){
        margin-top:$gutter_percent;;
        }
}
}



@media only screen and (max-width: 600px) {
.part-of-4,.part-of-3,.part-of-5,.part-of-6{
        margin-right: $gutter_percent;
        float: right;
        width: (100 - $gutter_percent * (1 - 1)) / 1;
                    &:nth-of-type(1n+1){
        margin-right: 0;
        }
        &:nth-of-type(n+2){
        margin-top:$gutter_percent;;
        }
}

}

/* mobile layout */

/* @media screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) and (orientation: portrait) {
     .part-of-4,.part-of-3,.part-of-5,.part-of-6{
        margin-right: $gutter_percent;
        float: right;
        width: (100 - $gutter_percent * (1 - 1)) / 1;
                    &:nth-of-type(1n+1){
        margin-right: 0;
        }
        &:nth-of-type(n+2){
        margin-top:$gutter_percent;;
        }
}
    
}

@media only screen and (max-width: 470px) {

} */