@import 'pagination';
@import 'colors';


.block-header{
	text-align: center;
	margin-top: 1em;
}

.summary-header{
	background: $grey;
    text-align: right;
    color:$dark_blue;
    border-bottom: 3px solid $light_blue;
    padding: 0.5em;
    p{
    margin-bottom: 0.6em;
    }
    font-weight: 400;
    position: relative;

    &:hover{
        background: $light_blue;
        color:white;
        border-bottom: 3px solid $dark_blue;

        .subject-tag{
            background:white;
            color: $dark_blue;
        }

    }
}

.subject-tag{
    color:white;
    font-size: 0.8em;
    float: left;
	padding: 0.2em 0.5em;
}

.block{
    padding: 0.5em;
}

.pagination{
    margin-top: 1em;
}

