@import "colors";
@import "grid_system";
@import "base";
@import "pagination";

.subject-header {
    @extend .block-header;
    text-align: center;
    min-height: 60px;

    p {
        margin-bottom: 0.6em;
    }
}

.subject-tab{
    border-top: 12px solid white;
    padding: 0.5em;
    text-align: center;
    color:white;
    &:hover{
        cursor: pointer;
    }
}

.summaries-block{
    overflow: auto;
    border: 6px solid $dark_blue;
}

.selected{
    background-color: $dark_blue;
}

.divisions :last-child{
    border-left:none;
}

.summary{
    .summary-header{
    background: $grey;
    text-align: right;
    color: $dark_blue;
    padding: 0.5em;
    font-weight: 400;
    &:hover {
        background: $light_blue;
        color: white;
        
}

}

&:hover{
    border-bottom: 3px solid $dark_blue;
}

    border-bottom: 3px solid $light_blue;
    &:last-child{
        border-bottom: none;
    }
}

.subdivisions{
    background-color: $dark_blue;
        overflow: auto;
        border-bottom: 6px solid $dark_blue;
}
.subdivision{
    padding: 0.5em;
    background-color: $light_blue;
    color: white;
    font-size: 1.5em;
    margin-right: 1em;
    &:first-child{
        margin-right:0;
    }
}

.block {
    color: dimgrey;
}

.pagination{
    margin-top: 1em;
}
