@import "colors";
@import "grid_system";
@import "base";
@import "pagination";

div[class="subject-header english"] {
    background: $english url(../images/english.png) no-repeat 3% bottom;
}

div[class="subject-header bible"] {
    background: $bible url(../images/bible.png) no-repeat 3% center;
}

div[class="subject-header civics"] {
    background: $civics url(../images/civics.png) no-repeat 3% center;
}

div[class="subject-header history"] {
    background: $history url(../images/history.png) no-repeat 3% center;
}

div[class="subject-header language"] {
    background: $language url(../images/language.png) no-repeat 3% center;
}

div[class="subject-header literature"] {
    background: $literature url(../images/literature.png) no-repeat 3% center;
}

.subject-header {
    @extend .block-header;
    text-align: center;
    min-height: 60px;

    p {
        margin-bottom: 0.6em;
    }
}

.summary-header {
    @extend .block-header;
}

.block {
    color: dimgrey;
}

.row h4 {
    @extend .block-header;

    background-color: $light_blue;
}

aside {
    @extend .block;

    ul {
        background: none;
        padding: 0;

        a li {
            font-size: 1.5em;
        }
    }
}

.col-6 .row .col-9,
.col-3 .row .col-9 {
    margin-right: 0;
    margin-bottom: $gutter_percent * 1.5;
}

.sidebar {
    float: left !important;
}