@import 'colors';
@import 'grid_system';


*:lang(eng){
 direction: ltr;
}

.block-header{
	text-align:center;
margin-top: $gutter_percent;
padding: 1em;
}

.content{
padding: 2em;
@import 'summary_content';
}


.options-bar{
	margin-top:5px;
width:100%;
display:table;
background-color: $light_blue_highlight;
padding: 0.5em;
border: 5px solid $light_blue;
.rating-module, .search-module{
	display:table-cell;
	width: 50%;
	.button{
		margin-left: 0.5em;
		border: 3px solid $dark_blue;
		height: auto;
	}
	.selected{
		background-color: $grey;
		border: 3px solid $dark_blue;
		color: $dark_blue;
		height: auto;
	}
	h4{
		display: inline-block;
		vertical-align: middle;
		margin-left: 5%;
		color: white;
	}
}

.search-module{
	text-align: left;
	.button{
		margin:0;
	}
}
}