@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=hebrew);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row .col-1 {
  float: right;
  margin-right: 1%;
  width: 3.20833%; }
  .row .col-1 .col-1 {
    margin-right: 31.16883%;
    width: 100%; }
  .row .col-1 .col-0 {
    margin-right: 31.16883%;
    width: -31.16883%; }
.row .col-2 {
  float: right;
  margin-right: 1%;
  width: 7.41667%; }
  .row .col-2 .col-1 {
    margin-right: 13.48315%;
    width: 43.25843%; }
.row .col-3 {
  float: right;
  margin-right: 1%;
  width: 11.625%; }
  .row .col-3 .col-1 {
    margin-right: 8.60215%;
    width: 27.59857%; }
  .row .col-3 .col-2 {
    margin-right: 8.60215%;
    width: 63.79928%; }
.row .col-4 {
  float: right;
  margin-right: 1%;
  width: 15.83333%; }
  .row .col-4 .col-1 {
    margin-right: 6.31579%;
    width: 20.26316%; }
  .row .col-4 .col-2 {
    margin-right: 6.31579%;
    width: 46.84211%; }
  .row .col-4 .col-3 {
    margin-right: 6.31579%;
    width: 73.42105%; }
.row .col-5 {
  float: right;
  margin-right: 1%;
  width: 20.04167%; }
  .row .col-5 .col-1 {
    margin-right: 4.9896%;
    width: 16.00832%; }
  .row .col-5 .col-2 {
    margin-right: 4.9896%;
    width: 37.00624%; }
  .row .col-5 .col-3 {
    margin-right: 4.9896%;
    width: 58.00416%; }
  .row .col-5 .col-4 {
    margin-right: 4.9896%;
    width: 79.00208%; }
.row .col-6 {
  float: right;
  margin-right: 1%;
  width: 24.25%; }
  .row .col-6 .col-1 {
    margin-right: 4.12371%;
    width: 13.23024%; }
  .row .col-6 .col-2 {
    margin-right: 4.12371%;
    width: 30.58419%; }
  .row .col-6 .col-3 {
    margin-right: 4.12371%;
    width: 47.93814%; }
  .row .col-6 .col-4 {
    margin-right: 4.12371%;
    width: 65.2921%; }
  .row .col-6 .col-5 {
    margin-right: 4.12371%;
    width: 82.64605%; }
.row .col-7 {
  float: right;
  margin-right: 1%;
  width: 28.45833%; }
  .row .col-7 .col-1 {
    margin-right: 3.51391%;
    width: 11.27379%; }
  .row .col-7 .col-2 {
    margin-right: 3.51391%;
    width: 26.06149%; }
  .row .col-7 .col-3 {
    margin-right: 3.51391%;
    width: 40.84919%; }
  .row .col-7 .col-4 {
    margin-right: 3.51391%;
    width: 55.6369%; }
  .row .col-7 .col-5 {
    margin-right: 3.51391%;
    width: 70.4246%; }
  .row .col-7 .col-6 {
    margin-right: 3.51391%;
    width: 85.2123%; }
.row .col-8 {
  float: right;
  margin-right: 1%;
  width: 32.66667%; }
  .row .col-8 .col-1 {
    margin-right: 3.06122%;
    width: 9.82143%; }
  .row .col-8 .col-2 {
    margin-right: 3.06122%;
    width: 22.70408%; }
  .row .col-8 .col-3 {
    margin-right: 3.06122%;
    width: 35.58673%; }
  .row .col-8 .col-4 {
    margin-right: 3.06122%;
    width: 48.46939%; }
  .row .col-8 .col-5 {
    margin-right: 3.06122%;
    width: 61.35204%; }
  .row .col-8 .col-6 {
    margin-right: 3.06122%;
    width: 74.23469%; }
  .row .col-8 .col-7 {
    margin-right: 3.06122%;
    width: 87.11735%; }
.row .col-9 {
  float: right;
  margin-right: 1%;
  width: 36.875%; }
  .row .col-9 .col-1 {
    margin-right: 2.71186%;
    width: 8.70056%; }
  .row .col-9 .col-2 {
    margin-right: 2.71186%;
    width: 20.11299%; }
  .row .col-9 .col-3 {
    margin-right: 2.71186%;
    width: 31.52542%; }
  .row .col-9 .col-4 {
    margin-right: 2.71186%;
    width: 42.93785%; }
  .row .col-9 .col-5 {
    margin-right: 2.71186%;
    width: 54.35028%; }
  .row .col-9 .col-6 {
    margin-right: 2.71186%;
    width: 65.76271%; }
  .row .col-9 .col-7 {
    margin-right: 2.71186%;
    width: 77.17514%; }
  .row .col-9 .col-8 {
    margin-right: 2.71186%;
    width: 88.58757%; }
.row .col-10 {
  float: right;
  margin-right: 1%;
  width: 41.08333%; }
  .row .col-10 .col-1 {
    margin-right: 2.43408%;
    width: 7.80933%; }
  .row .col-10 .col-2 {
    margin-right: 2.43408%;
    width: 18.05274%; }
  .row .col-10 .col-3 {
    margin-right: 2.43408%;
    width: 28.29615%; }
  .row .col-10 .col-4 {
    margin-right: 2.43408%;
    width: 38.53955%; }
  .row .col-10 .col-5 {
    margin-right: 2.43408%;
    width: 48.78296%; }
  .row .col-10 .col-6 {
    margin-right: 2.43408%;
    width: 59.02637%; }
  .row .col-10 .col-7 {
    margin-right: 2.43408%;
    width: 69.26978%; }
  .row .col-10 .col-8 {
    margin-right: 2.43408%;
    width: 79.51318%; }
  .row .col-10 .col-9 {
    margin-right: 2.43408%;
    width: 89.75659%; }
.row .col-11 {
  float: right;
  margin-right: 1%;
  width: 45.29167%; }
  .row .col-11 .col-1 {
    margin-right: 2.20791%;
    width: 7.08372%; }
  .row .col-11 .col-2 {
    margin-right: 2.20791%;
    width: 16.37534%; }
  .row .col-11 .col-3 {
    margin-right: 2.20791%;
    width: 25.66697%; }
  .row .col-11 .col-4 {
    margin-right: 2.20791%;
    width: 34.9586%; }
  .row .col-11 .col-5 {
    margin-right: 2.20791%;
    width: 44.25023%; }
  .row .col-11 .col-6 {
    margin-right: 2.20791%;
    width: 53.54186%; }
  .row .col-11 .col-7 {
    margin-right: 2.20791%;
    width: 62.83349%; }
  .row .col-11 .col-8 {
    margin-right: 2.20791%;
    width: 72.12511%; }
  .row .col-11 .col-9 {
    margin-right: 2.20791%;
    width: 81.41674%; }
  .row .col-11 .col-10 {
    margin-right: 2.20791%;
    width: 90.70837%; }
.row .col-12 {
  float: right;
  margin-right: 1%;
  width: 49.5%; }
  .row .col-12 .col-1 {
    margin-right: 2.0202%;
    width: 6.48148%; }
  .row .col-12 .col-2 {
    margin-right: 2.0202%;
    width: 14.98316%; }
  .row .col-12 .col-3 {
    margin-right: 2.0202%;
    width: 23.48485%; }
  .row .col-12 .col-4 {
    margin-right: 2.0202%;
    width: 31.98653%; }
  .row .col-12 .col-5 {
    margin-right: 2.0202%;
    width: 40.48822%; }
  .row .col-12 .col-6 {
    margin-right: 2.0202%;
    width: 48.9899%; }
  .row .col-12 .col-7 {
    margin-right: 2.0202%;
    width: 57.49158%; }
  .row .col-12 .col-8 {
    margin-right: 2.0202%;
    width: 65.99327%; }
  .row .col-12 .col-9 {
    margin-right: 2.0202%;
    width: 74.49495%; }
  .row .col-12 .col-10 {
    margin-right: 2.0202%;
    width: 82.99663%; }
  .row .col-12 .col-11 {
    margin-right: 2.0202%;
    width: 91.49832%; }
.row .col-13 {
  float: right;
  margin-right: 1%;
  width: 53.70833%; }
  .row .col-13 .col-1 {
    margin-right: 1.86191%;
    width: 5.97362%; }
  .row .col-13 .col-2 {
    margin-right: 1.86191%;
    width: 13.80915%; }
  .row .col-13 .col-3 {
    margin-right: 1.86191%;
    width: 21.64469%; }
  .row .col-13 .col-4 {
    margin-right: 1.86191%;
    width: 29.48022%; }
  .row .col-13 .col-5 {
    margin-right: 1.86191%;
    width: 37.31575%; }
  .row .col-13 .col-6 {
    margin-right: 1.86191%;
    width: 45.15128%; }
  .row .col-13 .col-7 {
    margin-right: 1.86191%;
    width: 52.98681%; }
  .row .col-13 .col-8 {
    margin-right: 1.86191%;
    width: 60.82234%; }
  .row .col-13 .col-9 {
    margin-right: 1.86191%;
    width: 68.65787%; }
  .row .col-13 .col-10 {
    margin-right: 1.86191%;
    width: 76.49341%; }
  .row .col-13 .col-11 {
    margin-right: 1.86191%;
    width: 84.32894%; }
  .row .col-13 .col-12 {
    margin-right: 1.86191%;
    width: 92.16447%; }
.row .col-14 {
  float: right;
  margin-right: 1%;
  width: 57.91667%; }
  .row .col-14 .col-1 {
    margin-right: 1.72662%;
    width: 5.53957%; }
  .row .col-14 .col-2 {
    margin-right: 1.72662%;
    width: 12.80576%; }
  .row .col-14 .col-3 {
    margin-right: 1.72662%;
    width: 20.07194%; }
  .row .col-14 .col-4 {
    margin-right: 1.72662%;
    width: 27.33813%; }
  .row .col-14 .col-5 {
    margin-right: 1.72662%;
    width: 34.60432%; }
  .row .col-14 .col-6 {
    margin-right: 1.72662%;
    width: 41.8705%; }
  .row .col-14 .col-7 {
    margin-right: 1.72662%;
    width: 49.13669%; }
  .row .col-14 .col-8 {
    margin-right: 1.72662%;
    width: 56.40288%; }
  .row .col-14 .col-9 {
    margin-right: 1.72662%;
    width: 63.66906%; }
  .row .col-14 .col-10 {
    margin-right: 1.72662%;
    width: 70.93525%; }
  .row .col-14 .col-11 {
    margin-right: 1.72662%;
    width: 78.20144%; }
  .row .col-14 .col-12 {
    margin-right: 1.72662%;
    width: 85.46763%; }
  .row .col-14 .col-13 {
    margin-right: 1.72662%;
    width: 92.73381%; }
.row .col-15 {
  float: right;
  margin-right: 1%;
  width: 62.125%; }
  .row .col-15 .col-1 {
    margin-right: 1.60966%;
    width: 5.16432%; }
  .row .col-15 .col-2 {
    margin-right: 1.60966%;
    width: 11.9383%; }
  .row .col-15 .col-3 {
    margin-right: 1.60966%;
    width: 18.71227%; }
  .row .col-15 .col-4 {
    margin-right: 1.60966%;
    width: 25.48625%; }
  .row .col-15 .col-5 {
    margin-right: 1.60966%;
    width: 32.26023%; }
  .row .col-15 .col-6 {
    margin-right: 1.60966%;
    width: 39.03421%; }
  .row .col-15 .col-7 {
    margin-right: 1.60966%;
    width: 45.80818%; }
  .row .col-15 .col-8 {
    margin-right: 1.60966%;
    width: 52.58216%; }
  .row .col-15 .col-9 {
    margin-right: 1.60966%;
    width: 59.35614%; }
  .row .col-15 .col-10 {
    margin-right: 1.60966%;
    width: 66.13011%; }
  .row .col-15 .col-11 {
    margin-right: 1.60966%;
    width: 72.90409%; }
  .row .col-15 .col-12 {
    margin-right: 1.60966%;
    width: 79.67807%; }
  .row .col-15 .col-13 {
    margin-right: 1.60966%;
    width: 86.45205%; }
  .row .col-15 .col-14 {
    margin-right: 1.60966%;
    width: 93.22602%; }
.row .col-16 {
  float: right;
  margin-right: 1%;
  width: 66.33333%; }
  .row .col-16 .col-1 {
    margin-right: 1.50754%;
    width: 4.83668%; }
  .row .col-16 .col-2 {
    margin-right: 1.50754%;
    width: 11.1809%; }
  .row .col-16 .col-3 {
    margin-right: 1.50754%;
    width: 17.52513%; }
  .row .col-16 .col-4 {
    margin-right: 1.50754%;
    width: 23.86935%; }
  .row .col-16 .col-5 {
    margin-right: 1.50754%;
    width: 30.21357%; }
  .row .col-16 .col-6 {
    margin-right: 1.50754%;
    width: 36.55779%; }
  .row .col-16 .col-7 {
    margin-right: 1.50754%;
    width: 42.90201%; }
  .row .col-16 .col-8 {
    margin-right: 1.50754%;
    width: 49.24623%; }
  .row .col-16 .col-9 {
    margin-right: 1.50754%;
    width: 55.59045%; }
  .row .col-16 .col-10 {
    margin-right: 1.50754%;
    width: 61.93467%; }
  .row .col-16 .col-11 {
    margin-right: 1.50754%;
    width: 68.27889%; }
  .row .col-16 .col-12 {
    margin-right: 1.50754%;
    width: 74.62312%; }
  .row .col-16 .col-13 {
    margin-right: 1.50754%;
    width: 80.96734%; }
  .row .col-16 .col-14 {
    margin-right: 1.50754%;
    width: 87.31156%; }
  .row .col-16 .col-15 {
    margin-right: 1.50754%;
    width: 93.65578%; }
.row .col-17 {
  float: right;
  margin-right: 1%;
  width: 70.54167%; }
  .row .col-17 .col-1 {
    margin-right: 1.4176%;
    width: 4.54814%; }
  .row .col-17 .col-2 {
    margin-right: 1.4176%;
    width: 10.51388%; }
  .row .col-17 .col-3 {
    margin-right: 1.4176%;
    width: 16.47962%; }
  .row .col-17 .col-4 {
    margin-right: 1.4176%;
    width: 22.44536%; }
  .row .col-17 .col-5 {
    margin-right: 1.4176%;
    width: 28.4111%; }
  .row .col-17 .col-6 {
    margin-right: 1.4176%;
    width: 34.37685%; }
  .row .col-17 .col-7 {
    margin-right: 1.4176%;
    width: 40.34259%; }
  .row .col-17 .col-8 {
    margin-right: 1.4176%;
    width: 46.30833%; }
  .row .col-17 .col-9 {
    margin-right: 1.4176%;
    width: 52.27407%; }
  .row .col-17 .col-10 {
    margin-right: 1.4176%;
    width: 58.23981%; }
  .row .col-17 .col-11 {
    margin-right: 1.4176%;
    width: 64.20555%; }
  .row .col-17 .col-12 {
    margin-right: 1.4176%;
    width: 70.17129%; }
  .row .col-17 .col-13 {
    margin-right: 1.4176%;
    width: 76.13703%; }
  .row .col-17 .col-14 {
    margin-right: 1.4176%;
    width: 82.10278%; }
  .row .col-17 .col-15 {
    margin-right: 1.4176%;
    width: 88.06852%; }
  .row .col-17 .col-16 {
    margin-right: 1.4176%;
    width: 94.03426%; }
.row .col-18 {
  float: right;
  margin-right: 1%;
  width: 74.75%; }
  .row .col-18 .col-1 {
    margin-right: 1.33779%;
    width: 4.29208%; }
  .row .col-18 .col-2 {
    margin-right: 1.33779%;
    width: 9.92196%; }
  .row .col-18 .col-3 {
    margin-right: 1.33779%;
    width: 15.55184%; }
  .row .col-18 .col-4 {
    margin-right: 1.33779%;
    width: 21.18172%; }
  .row .col-18 .col-5 {
    margin-right: 1.33779%;
    width: 26.81159%; }
  .row .col-18 .col-6 {
    margin-right: 1.33779%;
    width: 32.44147%; }
  .row .col-18 .col-7 {
    margin-right: 1.33779%;
    width: 38.07135%; }
  .row .col-18 .col-8 {
    margin-right: 1.33779%;
    width: 43.70123%; }
  .row .col-18 .col-9 {
    margin-right: 1.33779%;
    width: 49.3311%; }
  .row .col-18 .col-10 {
    margin-right: 1.33779%;
    width: 54.96098%; }
  .row .col-18 .col-11 {
    margin-right: 1.33779%;
    width: 60.59086%; }
  .row .col-18 .col-12 {
    margin-right: 1.33779%;
    width: 66.22074%; }
  .row .col-18 .col-13 {
    margin-right: 1.33779%;
    width: 71.85061%; }
  .row .col-18 .col-14 {
    margin-right: 1.33779%;
    width: 77.48049%; }
  .row .col-18 .col-15 {
    margin-right: 1.33779%;
    width: 83.11037%; }
  .row .col-18 .col-16 {
    margin-right: 1.33779%;
    width: 88.74025%; }
  .row .col-18 .col-17 {
    margin-right: 1.33779%;
    width: 94.37012%; }
.row .col-19 {
  float: right;
  margin-right: 1%;
  width: 78.95833%; }
  .row .col-19 .col-1 {
    margin-right: 1.26649%;
    width: 4.06332%; }
  .row .col-19 .col-2 {
    margin-right: 1.26649%;
    width: 9.39314%; }
  .row .col-19 .col-3 {
    margin-right: 1.26649%;
    width: 14.72296%; }
  .row .col-19 .col-4 {
    margin-right: 1.26649%;
    width: 20.05277%; }
  .row .col-19 .col-5 {
    margin-right: 1.26649%;
    width: 25.38259%; }
  .row .col-19 .col-6 {
    margin-right: 1.26649%;
    width: 30.7124%; }
  .row .col-19 .col-7 {
    margin-right: 1.26649%;
    width: 36.04222%; }
  .row .col-19 .col-8 {
    margin-right: 1.26649%;
    width: 41.37203%; }
  .row .col-19 .col-9 {
    margin-right: 1.26649%;
    width: 46.70185%; }
  .row .col-19 .col-10 {
    margin-right: 1.26649%;
    width: 52.03166%; }
  .row .col-19 .col-11 {
    margin-right: 1.26649%;
    width: 57.36148%; }
  .row .col-19 .col-12 {
    margin-right: 1.26649%;
    width: 62.69129%; }
  .row .col-19 .col-13 {
    margin-right: 1.26649%;
    width: 68.02111%; }
  .row .col-19 .col-14 {
    margin-right: 1.26649%;
    width: 73.35092%; }
  .row .col-19 .col-15 {
    margin-right: 1.26649%;
    width: 78.68074%; }
  .row .col-19 .col-16 {
    margin-right: 1.26649%;
    width: 84.01055%; }
  .row .col-19 .col-17 {
    margin-right: 1.26649%;
    width: 89.34037%; }
  .row .col-19 .col-18 {
    margin-right: 1.26649%;
    width: 94.67018%; }
.row .col-20 {
  float: right;
  margin-right: 1%;
  width: 83.16667%; }
  .row .col-20 .col-1 {
    margin-right: 1.2024%;
    width: 3.85772%; }
  .row .col-20 .col-2 {
    margin-right: 1.2024%;
    width: 8.91784%; }
  .row .col-20 .col-3 {
    margin-right: 1.2024%;
    width: 13.97796%; }
  .row .col-20 .col-4 {
    margin-right: 1.2024%;
    width: 19.03808%; }
  .row .col-20 .col-5 {
    margin-right: 1.2024%;
    width: 24.0982%; }
  .row .col-20 .col-6 {
    margin-right: 1.2024%;
    width: 29.15832%; }
  .row .col-20 .col-7 {
    margin-right: 1.2024%;
    width: 34.21844%; }
  .row .col-20 .col-8 {
    margin-right: 1.2024%;
    width: 39.27856%; }
  .row .col-20 .col-9 {
    margin-right: 1.2024%;
    width: 44.33868%; }
  .row .col-20 .col-10 {
    margin-right: 1.2024%;
    width: 49.3988%; }
  .row .col-20 .col-11 {
    margin-right: 1.2024%;
    width: 54.45892%; }
  .row .col-20 .col-12 {
    margin-right: 1.2024%;
    width: 59.51904%; }
  .row .col-20 .col-13 {
    margin-right: 1.2024%;
    width: 64.57916%; }
  .row .col-20 .col-14 {
    margin-right: 1.2024%;
    width: 69.63928%; }
  .row .col-20 .col-15 {
    margin-right: 1.2024%;
    width: 74.6994%; }
  .row .col-20 .col-16 {
    margin-right: 1.2024%;
    width: 79.75952%; }
  .row .col-20 .col-17 {
    margin-right: 1.2024%;
    width: 84.81964%; }
  .row .col-20 .col-18 {
    margin-right: 1.2024%;
    width: 89.87976%; }
  .row .col-20 .col-19 {
    margin-right: 1.2024%;
    width: 94.93988%; }
.row .col-21 {
  float: right;
  margin-right: 1%;
  width: 87.375%; }
  .row .col-21 .col-1 {
    margin-right: 1.14449%;
    width: 3.67191%; }
  .row .col-21 .col-2 {
    margin-right: 1.14449%;
    width: 8.48832%; }
  .row .col-21 .col-3 {
    margin-right: 1.14449%;
    width: 13.30472%; }
  .row .col-21 .col-4 {
    margin-right: 1.14449%;
    width: 18.12113%; }
  .row .col-21 .col-5 {
    margin-right: 1.14449%;
    width: 22.93753%; }
  .row .col-21 .col-6 {
    margin-right: 1.14449%;
    width: 27.75393%; }
  .row .col-21 .col-7 {
    margin-right: 1.14449%;
    width: 32.57034%; }
  .row .col-21 .col-8 {
    margin-right: 1.14449%;
    width: 37.38674%; }
  .row .col-21 .col-9 {
    margin-right: 1.14449%;
    width: 42.20315%; }
  .row .col-21 .col-10 {
    margin-right: 1.14449%;
    width: 47.01955%; }
  .row .col-21 .col-11 {
    margin-right: 1.14449%;
    width: 51.83596%; }
  .row .col-21 .col-12 {
    margin-right: 1.14449%;
    width: 56.65236%; }
  .row .col-21 .col-13 {
    margin-right: 1.14449%;
    width: 61.46876%; }
  .row .col-21 .col-14 {
    margin-right: 1.14449%;
    width: 66.28517%; }
  .row .col-21 .col-15 {
    margin-right: 1.14449%;
    width: 71.10157%; }
  .row .col-21 .col-16 {
    margin-right: 1.14449%;
    width: 75.91798%; }
  .row .col-21 .col-17 {
    margin-right: 1.14449%;
    width: 80.73438%; }
  .row .col-21 .col-18 {
    margin-right: 1.14449%;
    width: 85.55079%; }
  .row .col-21 .col-19 {
    margin-right: 1.14449%;
    width: 90.36719%; }
  .row .col-21 .col-20 {
    margin-right: 1.14449%;
    width: 95.1836%; }
.row .col-22 {
  float: right;
  margin-right: 1%;
  width: 91.58333%; }
  .row .col-22 .col-1 {
    margin-right: 1.0919%;
    width: 3.50318%; }
  .row .col-22 .col-2 {
    margin-right: 1.0919%;
    width: 8.09827%; }
  .row .col-22 .col-3 {
    margin-right: 1.0919%;
    width: 12.69336%; }
  .row .col-22 .col-4 {
    margin-right: 1.0919%;
    width: 17.28844%; }
  .row .col-22 .col-5 {
    margin-right: 1.0919%;
    width: 21.88353%; }
  .row .col-22 .col-6 {
    margin-right: 1.0919%;
    width: 26.47862%; }
  .row .col-22 .col-7 {
    margin-right: 1.0919%;
    width: 31.0737%; }
  .row .col-22 .col-8 {
    margin-right: 1.0919%;
    width: 35.66879%; }
  .row .col-22 .col-9 {
    margin-right: 1.0919%;
    width: 40.26388%; }
  .row .col-22 .col-10 {
    margin-right: 1.0919%;
    width: 44.85896%; }
  .row .col-22 .col-11 {
    margin-right: 1.0919%;
    width: 49.45405%; }
  .row .col-22 .col-12 {
    margin-right: 1.0919%;
    width: 54.04914%; }
  .row .col-22 .col-13 {
    margin-right: 1.0919%;
    width: 58.64422%; }
  .row .col-22 .col-14 {
    margin-right: 1.0919%;
    width: 63.23931%; }
  .row .col-22 .col-15 {
    margin-right: 1.0919%;
    width: 67.83439%; }
  .row .col-22 .col-16 {
    margin-right: 1.0919%;
    width: 72.42948%; }
  .row .col-22 .col-17 {
    margin-right: 1.0919%;
    width: 77.02457%; }
  .row .col-22 .col-18 {
    margin-right: 1.0919%;
    width: 81.61965%; }
  .row .col-22 .col-19 {
    margin-right: 1.0919%;
    width: 86.21474%; }
  .row .col-22 .col-20 {
    margin-right: 1.0919%;
    width: 90.80983%; }
  .row .col-22 .col-21 {
    margin-right: 1.0919%;
    width: 95.40491%; }
.row .col-23 {
  float: right;
  margin-right: 1%;
  width: 95.79167%; }
  .row .col-23 .col-1 {
    margin-right: 1.04393%;
    width: 3.34928%; }
  .row .col-23 .col-2 {
    margin-right: 1.04393%;
    width: 7.7425%; }
  .row .col-23 .col-3 {
    margin-right: 1.04393%;
    width: 12.13571%; }
  .row .col-23 .col-4 {
    margin-right: 1.04393%;
    width: 16.52893%; }
  .row .col-23 .col-5 {
    margin-right: 1.04393%;
    width: 20.92214%; }
  .row .col-23 .col-6 {
    margin-right: 1.04393%;
    width: 25.31535%; }
  .row .col-23 .col-7 {
    margin-right: 1.04393%;
    width: 29.70857%; }
  .row .col-23 .col-8 {
    margin-right: 1.04393%;
    width: 34.10178%; }
  .row .col-23 .col-9 {
    margin-right: 1.04393%;
    width: 38.495%; }
  .row .col-23 .col-10 {
    margin-right: 1.04393%;
    width: 42.88821%; }
  .row .col-23 .col-11 {
    margin-right: 1.04393%;
    width: 47.28143%; }
  .row .col-23 .col-12 {
    margin-right: 1.04393%;
    width: 51.67464%; }
  .row .col-23 .col-13 {
    margin-right: 1.04393%;
    width: 56.06786%; }
  .row .col-23 .col-14 {
    margin-right: 1.04393%;
    width: 60.46107%; }
  .row .col-23 .col-15 {
    margin-right: 1.04393%;
    width: 64.85428%; }
  .row .col-23 .col-16 {
    margin-right: 1.04393%;
    width: 69.2475%; }
  .row .col-23 .col-17 {
    margin-right: 1.04393%;
    width: 73.64071%; }
  .row .col-23 .col-18 {
    margin-right: 1.04393%;
    width: 78.03393%; }
  .row .col-23 .col-19 {
    margin-right: 1.04393%;
    width: 82.42714%; }
  .row .col-23 .col-20 {
    margin-right: 1.04393%;
    width: 86.82036%; }
  .row .col-23 .col-21 {
    margin-right: 1.04393%;
    width: 91.21357%; }
  .row .col-23 .col-22 {
    margin-right: 1.04393%;
    width: 95.60679%; }
.row .col-24 {
  float: right;
  margin-right: 1%;
  width: 100%; }
  .row .col-24 .col-1 {
    margin-right: 1%;
    width: 3.20833%; }
  .row .col-24 .col-2 {
    margin-right: 1%;
    width: 7.41667%; }
  .row .col-24 .col-3 {
    margin-right: 1%;
    width: 11.625%; }
  .row .col-24 .col-4 {
    margin-right: 1%;
    width: 15.83333%; }
  .row .col-24 .col-5 {
    margin-right: 1%;
    width: 20.04167%; }
  .row .col-24 .col-6 {
    margin-right: 1%;
    width: 24.25%; }
  .row .col-24 .col-7 {
    margin-right: 1%;
    width: 28.45833%; }
  .row .col-24 .col-8 {
    margin-right: 1%;
    width: 32.66667%; }
  .row .col-24 .col-9 {
    margin-right: 1%;
    width: 36.875%; }
  .row .col-24 .col-10 {
    margin-right: 1%;
    width: 41.08333%; }
  .row .col-24 .col-11 {
    margin-right: 1%;
    width: 45.29167%; }
  .row .col-24 .col-12 {
    margin-right: 1%;
    width: 49.5%; }
  .row .col-24 .col-13 {
    margin-right: 1%;
    width: 53.70833%; }
  .row .col-24 .col-14 {
    margin-right: 1%;
    width: 57.91667%; }
  .row .col-24 .col-15 {
    margin-right: 1%;
    width: 62.125%; }
  .row .col-24 .col-16 {
    margin-right: 1%;
    width: 66.33333%; }
  .row .col-24 .col-17 {
    margin-right: 1%;
    width: 70.54167%; }
  .row .col-24 .col-18 {
    margin-right: 1%;
    width: 74.75%; }
  .row .col-24 .col-19 {
    margin-right: 1%;
    width: 78.95833%; }
  .row .col-24 .col-20 {
    margin-right: 1%;
    width: 83.16667%; }
  .row .col-24 .col-21 {
    margin-right: 1%;
    width: 87.375%; }
  .row .col-24 .col-22 {
    margin-right: 1%;
    width: 91.58333%; }
  .row .col-24 .col-23 {
    margin-right: 1%;
    width: 95.79167%; }
.row > :first-child,
.row .row > :first-child {
  margin-right: 0; }

.part-of-1 {
  margin-right: 1%;
  float: right;
  width: 100%; }
  .part-of-1:nth-of-type(1n+1) {
    margin-right: 0; }
  .part-of-1:nth-of-type(n+2) {
    margin-top: 1%; }

.part-of-2 {
  margin-right: 1%;
  float: right;
  width: 49.5%; }
  .part-of-2:nth-of-type(2n+1) {
    margin-right: 0; }
  .part-of-2:nth-of-type(n+3) {
    margin-top: 1%; }

.part-of-3 {
  margin-right: 1%;
  float: right;
  width: 32.66667%; }
  .part-of-3:nth-of-type(3n+1) {
    margin-right: 0; }
  .part-of-3:nth-of-type(n+4) {
    margin-top: 1%; }

.part-of-4 {
  margin-right: 1%;
  float: right;
  width: 24.25%; }
  .part-of-4:nth-of-type(4n+1) {
    margin-right: 0; }
  .part-of-4:nth-of-type(n+5) {
    margin-top: 1%; }

.part-of-5 {
  margin-right: 1%;
  float: right;
  width: 19.2%; }
  .part-of-5:nth-of-type(5n+1) {
    margin-right: 0; }
  .part-of-5:nth-of-type(n+6) {
    margin-top: 1%; }

.part-of-6 {
  margin-right: 1%;
  float: right;
  width: 15.83333%; }
  .part-of-6:nth-of-type(6n+1) {
    margin-right: 0; }
  .part-of-6:nth-of-type(n+7) {
    margin-top: 1%; }

.part-of-7 {
  margin-right: 1%;
  float: right;
  width: 13.42857%; }
  .part-of-7:nth-of-type(7n+1) {
    margin-right: 0; }
  .part-of-7:nth-of-type(n+8) {
    margin-top: 1%; }

.part-of-8 {
  margin-right: 1%;
  float: right;
  width: 11.625%; }
  .part-of-8:nth-of-type(8n+1) {
    margin-right: 0; }
  .part-of-8:nth-of-type(n+9) {
    margin-top: 1%; }

.part-of-9 {
  margin-right: 1%;
  float: right;
  width: 10.22222%; }
  .part-of-9:nth-of-type(9n+1) {
    margin-right: 0; }
  .part-of-9:nth-of-type(n+10) {
    margin-top: 1%; }

.part-of-10 {
  margin-right: 1%;
  float: right;
  width: 9.1%; }
  .part-of-10:nth-of-type(10n+1) {
    margin-right: 0; }
  .part-of-10:nth-of-type(n+11) {
    margin-top: 1%; }

.part-of-11 {
  margin-right: 1%;
  float: right;
  width: 8.18182%; }
  .part-of-11:nth-of-type(11n+1) {
    margin-right: 0; }
  .part-of-11:nth-of-type(n+12) {
    margin-top: 1%; }

.part-of-12 {
  margin-right: 1%;
  float: right;
  width: 7.41667%; }
  .part-of-12:nth-of-type(12n+1) {
    margin-right: 0; }
  .part-of-12:nth-of-type(n+13) {
    margin-top: 1%; }

.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.pagination ul {
  margin-top: 1em;
  list-style: none;
  padding: 0;
  color: white; }
  .pagination ul li {
    display: inline-block;
    color: white;
    font-size: 1.5em;
    background-color: #2b5797;
    margin-left: 0.2em; }
    .pagination ul li a {
      border: 3px solid #2b5797;
      padding: 0.2em 0.8em;
      color: white;
      font-size: inherit;
      display: inline-block; }
      .pagination ul li a:hover {
        border: 3px solid #1ba1e2; }
  .pagination ul .disabled {
    background: white;
    color: grey;
    border: 3px solid grey;
    padding: 0.2em 0.8em; }
  .pagination ul .active {
    background-color: #1ba1e2;
    border: 3px solid #1ba1e2; }

/* fonts */
/* box sizing */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  border-radius: 2px; }

/* typography */
body {
  background: url(../images/bg.png);
  color: #37474f;
  font-size: 12px;
  font-family: 'Arimo', 'sans-serif';
  font-weight: 400;
  line-height: 1.6; }

h2, h3, h4, h5 {
  font-family: 'Open Sans Hebrew', 'sans-serif'; }

h2 {
  font-size: 3.8em;
  font-weight: 300; }

h3 {
  font-size: 2.7em; }

h4 {
  font-size: 1.5em;
  font-weight: bold; }

h5 {
  font-size: 1.2em;
  font-weight: bold; }

strong {
  font-weight: bold; }

/* default element styles */
input, .button, input[type="submit"], .call-to-action {
  padding: 0.5em;
  border: none;
  height: 2.3em;
  font-size: 1.3em;
  vertical-align: top;
  display: inline-block; }
  input:focus, .button:focus, .call-to-action:focus {
    outline: none; }

.button, input[type="submit"], [type="submit"].button, .call-to-action {
  color: white;
  background-color: #2b5797;
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: 0px 5px 0px 0px #224679;
  border-radius: 3px;
  line-height: 1.5em; }
  .button:hover, input[type="submit"]:hover, .call-to-action:hover {
    background-color: #3765a8;
    color: white;
    cursor: pointer; }
  .button:active, input[type="submit"]:active, .call-to-action:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 0px 0px 0px; }

.secondary-button {
  padding: 0.5em 1em 0.5em 1em;
  background-color: #0e5171;
  color: white;
  font-size: 1.3em; }
  .secondary-button:hover {
    background-color: #106188; }

/* fix for an annoying firefox bug */
input::-moz-focus-inner, .button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, .call-to-action::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: -2px;
  margin-bottom: -2px; }

a {
  border: none;
  text-decoration: none; }

blockquote {
  background: #2b5797;
  color: white;
  font-size: 1.4em;
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0; }

.block-header {
  background-color: #34b5e9;
  color: white;
  padding: 1em;
  text-align: center; }

.block {
  font-size: 1.166666666666667em;
  background-color: #EAEEF0;
  border: 1px solid #BBBEC0;
  padding: 1em; }

.row {
  margin-top: 1rem; }
  .row .row {
    margin-top: 0; }

.summary-header {
  margin-top: 0.3em;
  background: #EAEEF0;
  border: 1px solid #BBBEC0;
  text-align: right;
  color: #2b5797;
  border-bottom: 3px solid #1ba1e2;
  padding: 0.5em;
  font-weight: 400;
  position: relative; }
  .summary-header p {
    font-size: 0.8em; }
  .summary-header:hover {
    background: #1ba1e2;
    color: white;
    border: 1px solid #1ba1e2;
    border-bottom: 3px solid #2b5797; }
    .summary-header:hover .tag {
      background: white !important;
      color: #2b5797; }

.summary-info {
  font-size: 0.7em; }
  .summary-info p {
    color: #2b5797; }
    .summary-info p a {
      color: #2b5797; }

.tag {
  color: white;
  font-size: 0.8em;
  float: left;
  padding: 0.2em 0.5em; }

.message {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  font-size: 1.3em;
  padding: 0.5em;
  -webkit-transform: translateY(-55.6px);
  -webkit-animation: slideDown 5s 1 ease forwards;
  -moz-transform: translateY(-55.6px);
  -moz-animation: slideDown 5s 1 ease forwards; }

@-webkit-keyframes slideDown {
  0%, 100% {
    -webkit-transform: translateY(-55.6px); }
  10%, 90% {
    -webkit-transform: translateY(0px); } }
@-moz-keyframes slideDown {
  0%, 100% {
    -moz-transform: translateY(-55.6px); }
  10%, 90% {
    -moz-transform: translateY(0px); } }
.success {
  color: white;
  background: #5cd053 url(../images/success.svg) no-repeat 1% center;
  background-size: 40px 40px; }

/* skeleton styles */
.container {
  margin: 0 auto;
  padding: 0 1%;
  max-width: 1024px; }

.header-container {
  background-color: #1ba1e2; }

header {
  max-width: 1024px;
  display: table;
  color: white;
  overflow: hidden;
  width: 100%;
  padding: 3em 1%;
  margin: 0 auto; }
  header .logo_wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px; }
    header .logo_wrapper h1 {
      text-indent: 100%;
      overflow: hidden;
      background-image: url(../images/logo.png);
      width: 262px;
      height: 121px; }
  header .panel-wrapper {
    vertical-align: middle;
    display: table-cell;
    position: relative; }
    header .panel-wrapper .panel {
      background-color: #34b5e9;
      float: left;
      padding: 1.5em; }
      header .panel-wrapper .panel form {
        position: relative; }
        header .panel-wrapper .panel form h4 {
          position: relative;
          margin-bottom: 10px; }
          header .panel-wrapper .panel form h4 .lock {
            background-image: url(../images/lock.png);
            width: 37px;
            height: 52px;
            position: absolute;
            bottom: 6px;
            left: 0em; }
        header .panel-wrapper .panel form input[type="text"], header .panel-wrapper .panel form [type="text"].button, header .panel-wrapper .panel form [type="text"].call-to-action, header .panel-wrapper .panel form input[type="password"], header .panel-wrapper .panel form [type="password"].button, header .panel-wrapper .panel form [type="password"].call-to-action {
          width: 9em;
          margin-left: 8px;
          height: 2.55em; }
          header .panel-wrapper .panel form input[type="text"]:focus, header .panel-wrapper .panel form [type="text"].button:focus, header .panel-wrapper .panel form [type="text"].call-to-action:focus, header .panel-wrapper .panel form input[type="password"]:focus, header .panel-wrapper .panel form [type="password"].button:focus, header .panel-wrapper .panel form [type="password"].call-to-action:focus {
            outline-offset: 0px;
            outline: 2px solid #3765a8; }
        header .panel-wrapper .panel form input[type="submit"], header .panel-wrapper .panel form [type="submit"].button, header .panel-wrapper .panel form [type="submit"].call-to-action {
          margin-bottom: 10px; }
        header .panel-wrapper .panel form .welcome_message {
          display: block;
          margin-left: 10px;
          margin-bottom: 10px; }
      header .panel-wrapper .panel .social-logins {
        font-size: 1.2em;
        margin-top: 18px;
        margin-bottom: 13px; }
        header .panel-wrapper .panel .social-logins .google-login {
          margin-left: 8px; }
      header .panel-wrapper .panel .forgot-password-link {
        margin-top: 1rem;
        display: block;
        color: white;
        display: block;
        font-size: 1.2em;
        font-weight: bold; }

.google-login {
  border-radius: 3px;
  color: white;
  background: url(../images/google.svg) no-repeat 7% center;
  background-color: #d34836;
  background-size: 28px 28px;
  padding: 1em 2em 1em 3.5em; }
  .google-login:hover {
    background-color: #d75a4a;
    color: white; }

.facebook-login {
  border-radius: 3px;
  color: white;
  background: url(../images/facebook.svg) no-repeat 7% center;
  background-color: #3b5998;
  background-size: 28px 28px;
  padding: 1em 2em 1em 3.5em; }
  .facebook-login:hover {
    background-color: #4f6aa2;
    color: white; }

.karma-bar {
  background-color: #EAEEF0;
  padding: 1em;
  display: table;
  width: 100%;
  text-align: left;
  border: 1px solid #BBBEC0; }
  .karma-bar .call-to-action-text {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    color: #2b5797;
    padding-right: 0.4em; }
  .karma-bar .call-to-action {
    height: 100%;
    display: block;
    padding: 0.3em; }
    .karma-bar .call-to-action:first-of-type {
      color: white;
      background-color: #1ba1e2;
      box-shadow: 0px 5px 0px 0px #1681B5;
      margin-bottom: 10px; }
      .karma-bar .call-to-action:first-of-type:hover {
        background-color: #34b5e9; }
      .karma-bar .call-to-action:first-of-type:active {
        box-shadow: 0px 0px 0px 0px #1681B5; }
    .karma-bar .call-to-action:last-of-type {
      font-size: 1rem;
      margin-bottom: 5px; }

.search-box {
  border: 1px solid #BBBEC0;
  background-color: white;
  padding: 0.5em;
  height: 60px; }
  .search-box input[type="text"], .search-box [type="text"].button, .search-box [type="text"].call-to-action {
    width: calc(100% - 220px);
    float: right;
    height: 100%;
    display: inline-block;
    height: 100%; }
  .search-box select {
    padding: 0 0.4em;
    height: 100%;
    float: left;
    margin-left: 0.5em; }
  .search-box input[type="submit"], .search-box [type="submit"].button, .search-box [type="submit"].call-to-action {
    height: 90%;
    float: left;
    min-width: 90px;
    margin-bottom: 5px; }

.focused {
  border: 1px solid white;
  outline: 3px solid #2b5797; }

.error, .login_error {
  font-weight: 600;
  font-size: 1.2em;
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  padding: 10px 15px; }

.login_error {
  margin-top: 10px;
  background: #d45252 url(../images/warning.png) no-repeat 10px 50%;
  padding-left: 45px; }

nav {
  display: inline-block;
  cursor: default;
  z-index: 500; }
  nav > ol {
    position: relative;
    list-style: none;
    padding: 0px;
    margin: 0px; }
    nav > ol > li {
      display: table;
      text-decoration: none;
      margin-bottom: 5px; }
      nav > ol > li > .nav-button {
        text-align: center;
        color: white;
        font-family: "open sans hebrew", 'sans-serif';
        font-size: 1.7em;
        font-weight: 400;
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        width: 100%; }

.call-to-action {
  font-family: 'Open Sans Hebrew', 'sans-serif';
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  height: 57px; }

select {
  padding: 0.8em 1.5em; }

html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; }

.page-wrap:after {
  content: "";
  display: block; }

footer, .page-wrap:after {
  height: 60px; }

footer {
  margin-top: 4%;
  display: table;
  width: 100%;
  color: white;
  background-color: #1ba1e2;
  text-align: center; }
  footer span {
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle; }

/* colors */

/*# sourceMappingURL=base.css.map */
