@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=hebrew);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row .col-1 {
  float: right;
  margin-right: 1%;
  width: 5.3125%; }
  .row .col-1 .col-1 {
    margin-right: 18.82353%;
    width: 100%; }
  .row .col-1 .col-0 {
    margin-right: 18.82353%;
    width: -18.82353%; }
.row .col-2 {
  float: right;
  margin-right: 1%;
  width: 11.625%; }
  .row .col-2 .col-1 {
    margin-right: 8.60215%;
    width: 45.69892%; }
.row .col-3 {
  float: right;
  margin-right: 1%;
  width: 17.9375%; }
  .row .col-3 .col-1 {
    margin-right: 5.57491%;
    width: 29.61672%; }
  .row .col-3 .col-2 {
    margin-right: 5.57491%;
    width: 64.80836%; }
.row .col-4 {
  float: right;
  margin-right: 1%;
  width: 24.25%; }
  .row .col-4 .col-1 {
    margin-right: 4.12371%;
    width: 21.90722%; }
  .row .col-4 .col-2 {
    margin-right: 4.12371%;
    width: 47.93814%; }
  .row .col-4 .col-3 {
    margin-right: 4.12371%;
    width: 73.96907%; }
.row .col-5 {
  float: right;
  margin-right: 1%;
  width: 30.5625%; }
  .row .col-5 .col-1 {
    margin-right: 3.27198%;
    width: 17.38241%; }
  .row .col-5 .col-2 {
    margin-right: 3.27198%;
    width: 38.03681%; }
  .row .col-5 .col-3 {
    margin-right: 3.27198%;
    width: 58.69121%; }
  .row .col-5 .col-4 {
    margin-right: 3.27198%;
    width: 79.3456%; }
.row .col-6 {
  float: right;
  margin-right: 1%;
  width: 36.875%; }
  .row .col-6 .col-1 {
    margin-right: 2.71186%;
    width: 14.40678%; }
  .row .col-6 .col-2 {
    margin-right: 2.71186%;
    width: 31.52542%; }
  .row .col-6 .col-3 {
    margin-right: 2.71186%;
    width: 48.64407%; }
  .row .col-6 .col-4 {
    margin-right: 2.71186%;
    width: 65.76271%; }
  .row .col-6 .col-5 {
    margin-right: 2.71186%;
    width: 82.88136%; }
.row .col-7 {
  float: right;
  margin-right: 1%;
  width: 43.1875%; }
  .row .col-7 .col-1 {
    margin-right: 2.31548%;
    width: 12.30101%; }
  .row .col-7 .col-2 {
    margin-right: 2.31548%;
    width: 26.91751%; }
  .row .col-7 .col-3 {
    margin-right: 2.31548%;
    width: 41.53401%; }
  .row .col-7 .col-4 {
    margin-right: 2.31548%;
    width: 56.15051%; }
  .row .col-7 .col-5 {
    margin-right: 2.31548%;
    width: 70.767%; }
  .row .col-7 .col-6 {
    margin-right: 2.31548%;
    width: 85.3835%; }
.row .col-8 {
  float: right;
  margin-right: 1%;
  width: 49.5%; }
  .row .col-8 .col-1 {
    margin-right: 2.0202%;
    width: 10.73232%; }
  .row .col-8 .col-2 {
    margin-right: 2.0202%;
    width: 23.48485%; }
  .row .col-8 .col-3 {
    margin-right: 2.0202%;
    width: 36.23737%; }
  .row .col-8 .col-4 {
    margin-right: 2.0202%;
    width: 48.9899%; }
  .row .col-8 .col-5 {
    margin-right: 2.0202%;
    width: 61.74242%; }
  .row .col-8 .col-6 {
    margin-right: 2.0202%;
    width: 74.49495%; }
  .row .col-8 .col-7 {
    margin-right: 2.0202%;
    width: 87.24747%; }
.row .col-9 {
  float: right;
  margin-right: 1%;
  width: 55.8125%; }
  .row .col-9 .col-1 {
    margin-right: 1.79171%;
    width: 9.51848%; }
  .row .col-9 .col-2 {
    margin-right: 1.79171%;
    width: 20.82867%; }
  .row .col-9 .col-3 {
    margin-right: 1.79171%;
    width: 32.13886%; }
  .row .col-9 .col-4 {
    margin-right: 1.79171%;
    width: 43.44905%; }
  .row .col-9 .col-5 {
    margin-right: 1.79171%;
    width: 54.75924%; }
  .row .col-9 .col-6 {
    margin-right: 1.79171%;
    width: 66.06943%; }
  .row .col-9 .col-7 {
    margin-right: 1.79171%;
    width: 77.37962%; }
  .row .col-9 .col-8 {
    margin-right: 1.79171%;
    width: 88.68981%; }
.row .col-10 {
  float: right;
  margin-right: 1%;
  width: 62.125%; }
  .row .col-10 .col-1 {
    margin-right: 1.60966%;
    width: 8.55131%; }
  .row .col-10 .col-2 {
    margin-right: 1.60966%;
    width: 18.71227%; }
  .row .col-10 .col-3 {
    margin-right: 1.60966%;
    width: 28.87324%; }
  .row .col-10 .col-4 {
    margin-right: 1.60966%;
    width: 39.03421%; }
  .row .col-10 .col-5 {
    margin-right: 1.60966%;
    width: 49.19517%; }
  .row .col-10 .col-6 {
    margin-right: 1.60966%;
    width: 59.35614%; }
  .row .col-10 .col-7 {
    margin-right: 1.60966%;
    width: 69.5171%; }
  .row .col-10 .col-8 {
    margin-right: 1.60966%;
    width: 79.67807%; }
  .row .col-10 .col-9 {
    margin-right: 1.60966%;
    width: 89.83903%; }
.row .col-11 {
  float: right;
  margin-right: 1%;
  width: 68.4375%; }
  .row .col-11 .col-1 {
    margin-right: 1.46119%;
    width: 7.76256%; }
  .row .col-11 .col-2 {
    margin-right: 1.46119%;
    width: 16.9863%; }
  .row .col-11 .col-3 {
    margin-right: 1.46119%;
    width: 26.21005%; }
  .row .col-11 .col-4 {
    margin-right: 1.46119%;
    width: 35.43379%; }
  .row .col-11 .col-5 {
    margin-right: 1.46119%;
    width: 44.65753%; }
  .row .col-11 .col-6 {
    margin-right: 1.46119%;
    width: 53.88128%; }
  .row .col-11 .col-7 {
    margin-right: 1.46119%;
    width: 63.10502%; }
  .row .col-11 .col-8 {
    margin-right: 1.46119%;
    width: 72.32877%; }
  .row .col-11 .col-9 {
    margin-right: 1.46119%;
    width: 81.55251%; }
  .row .col-11 .col-10 {
    margin-right: 1.46119%;
    width: 90.77626%; }
.row .col-12 {
  float: right;
  margin-right: 1%;
  width: 74.75%; }
  .row .col-12 .col-1 {
    margin-right: 1.33779%;
    width: 7.10702%; }
  .row .col-12 .col-2 {
    margin-right: 1.33779%;
    width: 15.55184%; }
  .row .col-12 .col-3 {
    margin-right: 1.33779%;
    width: 23.99666%; }
  .row .col-12 .col-4 {
    margin-right: 1.33779%;
    width: 32.44147%; }
  .row .col-12 .col-5 {
    margin-right: 1.33779%;
    width: 40.88629%; }
  .row .col-12 .col-6 {
    margin-right: 1.33779%;
    width: 49.3311%; }
  .row .col-12 .col-7 {
    margin-right: 1.33779%;
    width: 57.77592%; }
  .row .col-12 .col-8 {
    margin-right: 1.33779%;
    width: 66.22074%; }
  .row .col-12 .col-9 {
    margin-right: 1.33779%;
    width: 74.66555%; }
  .row .col-12 .col-10 {
    margin-right: 1.33779%;
    width: 83.11037%; }
  .row .col-12 .col-11 {
    margin-right: 1.33779%;
    width: 91.55518%; }
.row .col-13 {
  float: right;
  margin-right: 1%;
  width: 81.0625%; }
  .row .col-13 .col-1 {
    margin-right: 1.23362%;
    width: 6.55359%; }
  .row .col-13 .col-2 {
    margin-right: 1.23362%;
    width: 14.34079%; }
  .row .col-13 .col-3 {
    margin-right: 1.23362%;
    width: 22.12799%; }
  .row .col-13 .col-4 {
    margin-right: 1.23362%;
    width: 29.91519%; }
  .row .col-13 .col-5 {
    margin-right: 1.23362%;
    width: 37.70239%; }
  .row .col-13 .col-6 {
    margin-right: 1.23362%;
    width: 45.48959%; }
  .row .col-13 .col-7 {
    margin-right: 1.23362%;
    width: 53.27679%; }
  .row .col-13 .col-8 {
    margin-right: 1.23362%;
    width: 61.06399%; }
  .row .col-13 .col-9 {
    margin-right: 1.23362%;
    width: 68.8512%; }
  .row .col-13 .col-10 {
    margin-right: 1.23362%;
    width: 76.6384%; }
  .row .col-13 .col-11 {
    margin-right: 1.23362%;
    width: 84.4256%; }
  .row .col-13 .col-12 {
    margin-right: 1.23362%;
    width: 92.2128%; }
.row .col-14 {
  float: right;
  margin-right: 1%;
  width: 87.375%; }
  .row .col-14 .col-1 {
    margin-right: 1.14449%;
    width: 6.08011%; }
  .row .col-14 .col-2 {
    margin-right: 1.14449%;
    width: 13.30472%; }
  .row .col-14 .col-3 {
    margin-right: 1.14449%;
    width: 20.52933%; }
  .row .col-14 .col-4 {
    margin-right: 1.14449%;
    width: 27.75393%; }
  .row .col-14 .col-5 {
    margin-right: 1.14449%;
    width: 34.97854%; }
  .row .col-14 .col-6 {
    margin-right: 1.14449%;
    width: 42.20315%; }
  .row .col-14 .col-7 {
    margin-right: 1.14449%;
    width: 49.42775%; }
  .row .col-14 .col-8 {
    margin-right: 1.14449%;
    width: 56.65236%; }
  .row .col-14 .col-9 {
    margin-right: 1.14449%;
    width: 63.87697%; }
  .row .col-14 .col-10 {
    margin-right: 1.14449%;
    width: 71.10157%; }
  .row .col-14 .col-11 {
    margin-right: 1.14449%;
    width: 78.32618%; }
  .row .col-14 .col-12 {
    margin-right: 1.14449%;
    width: 85.55079%; }
  .row .col-14 .col-13 {
    margin-right: 1.14449%;
    width: 92.77539%; }
.row .col-15 {
  float: right;
  margin-right: 1%;
  width: 93.6875%; }
  .row .col-15 .col-1 {
    margin-right: 1.06738%;
    width: 5.67045%; }
  .row .col-15 .col-2 {
    margin-right: 1.06738%;
    width: 12.40827%; }
  .row .col-15 .col-3 {
    margin-right: 1.06738%;
    width: 19.1461%; }
  .row .col-15 .col-4 {
    margin-right: 1.06738%;
    width: 25.88392%; }
  .row .col-15 .col-5 {
    margin-right: 1.06738%;
    width: 32.62175%; }
  .row .col-15 .col-6 {
    margin-right: 1.06738%;
    width: 39.35957%; }
  .row .col-15 .col-7 {
    margin-right: 1.06738%;
    width: 46.0974%; }
  .row .col-15 .col-8 {
    margin-right: 1.06738%;
    width: 52.83522%; }
  .row .col-15 .col-9 {
    margin-right: 1.06738%;
    width: 59.57305%; }
  .row .col-15 .col-10 {
    margin-right: 1.06738%;
    width: 66.31087%; }
  .row .col-15 .col-11 {
    margin-right: 1.06738%;
    width: 73.0487%; }
  .row .col-15 .col-12 {
    margin-right: 1.06738%;
    width: 79.78652%; }
  .row .col-15 .col-13 {
    margin-right: 1.06738%;
    width: 86.52435%; }
  .row .col-15 .col-14 {
    margin-right: 1.06738%;
    width: 93.26217%; }
.row .col-16 {
  float: right;
  margin-right: 1%;
  width: 100%; }
  .row .col-16 .col-1 {
    margin-right: 1%;
    width: 5.3125%; }
  .row .col-16 .col-2 {
    margin-right: 1%;
    width: 11.625%; }
  .row .col-16 .col-3 {
    margin-right: 1%;
    width: 17.9375%; }
  .row .col-16 .col-4 {
    margin-right: 1%;
    width: 24.25%; }
  .row .col-16 .col-5 {
    margin-right: 1%;
    width: 30.5625%; }
  .row .col-16 .col-6 {
    margin-right: 1%;
    width: 36.875%; }
  .row .col-16 .col-7 {
    margin-right: 1%;
    width: 43.1875%; }
  .row .col-16 .col-8 {
    margin-right: 1%;
    width: 49.5%; }
  .row .col-16 .col-9 {
    margin-right: 1%;
    width: 55.8125%; }
  .row .col-16 .col-10 {
    margin-right: 1%;
    width: 62.125%; }
  .row .col-16 .col-11 {
    margin-right: 1%;
    width: 68.4375%; }
  .row .col-16 .col-12 {
    margin-right: 1%;
    width: 74.75%; }
  .row .col-16 .col-13 {
    margin-right: 1%;
    width: 81.0625%; }
  .row .col-16 .col-14 {
    margin-right: 1%;
    width: 87.375%; }
  .row .col-16 .col-15 {
    margin-right: 1%;
    width: 93.6875%; }
.row > :first-child,
.row .row > :first-child {
  margin-right: 0; }

.part-of-1 {
  margin-right: 1%;
  float: right;
  width: 100%; }

.part-of-2 {
  margin-right: 1%;
  float: right;
  width: 49.5%; }

.part-of-3 {
  margin-right: 1%;
  float: right;
  width: 32.66667%; }

.part-of-4 {
  margin-right: 1%;
  float: right;
  width: 24.25%; }

.part-of-5 {
  margin-right: 1%;
  float: right;
  width: 19.2%; }

.part-of-6 {
  margin-right: 1%;
  float: right;
  width: 15.83333%; }

.part-of-7 {
  margin-right: 1%;
  float: right;
  width: 13.42857%; }

.part-of-8 {
  margin-right: 1%;
  float: right;
  width: 11.625%; }

.part-of-9 {
  margin-right: 1%;
  float: right;
  width: 10.22222%; }

.part-of-10 {
  margin-right: 1%;
  float: right;
  width: 9.1%; }

.part-of-11 {
  margin-right: 1%;
  float: right;
  width: 8.18182%; }

.part-of-12 {
  margin-right: 1%;
  float: right;
  width: 7.41667%; }

.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/* fonts */
/* box sizing */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* typography */
body {
  color: #263238;
  font-size: 12px;
  font-family: 'Arimo', 'sans-serif';
  font-weight: 400;
  line-height: 1.6; }

h2, h3, h4, h5 {
  font-family: 'Open Sans Hebrew', 'sans-serif'; }

h2 {
  font-size: 3.8em;
  font-weight: 300; }

h3 {
  font-size: 2.7em; }

h4 {
  font-size: 1.5em;
  font-weight: bold; }

h5 {
  font-size: 1.2em;
  font-weight: bold; }

strong {
  font-weight: bold; }

/* default element styles */
input, .button, input[type="submit"], .call-to-action {
  padding: 0.5em;
  border: none;
  height: 35px;
  font-size: 1.3em;
  vertical-align: top;
  display: inline-block; }
  input:focus, .button:focus, .call-to-action:focus {
    outline: none; }

.button, input[type="submit"], [type="submit"].button, .call-to-action {
  color: white;
  background-color: #2b5797;
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: 0px 5px 0px 0px #224679;
  border-radius: 3px;
  height: 30px; }
  .button:hover, input[type="submit"]:hover, .call-to-action:hover {
    background-color: #3765a8;
    cursor: pointer; }
  .button:active, input[type="submit"]:active, .call-to-action:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 0px 0px 0px; }

/* fix for an annoying firefox bug */
input::-moz-focus-inner, .button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, .call-to-action::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: -2px;
  margin-bottom: -2px; }

a {
  border: none;
  text-decoration: none; }

blockquote {
  background: #2b5797;
  color: white;
  font-size: 1.4em;
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0; }

.block-header {
  background-color: #2b5797;
  color: white;
  padding: 0.5em; }

.block {
  font-size: 1.166666666666667em;
  background-color: #eceff1;
  padding: 1em; }

.row {
  margin-top: 1%; }
  .row .row {
    margin-top: 0; }

/* skeleton styles */
.container {
  margin: 0.5% auto;
  padding: 0 1%;
  max-width: 1024px; }

.header-container {
  background-color: #1ba1e2; }

header {
  max-width: 1024px;
  display: table;
  color: white;
  overflow: hidden;
  width: 100%;
  padding: 3em 1%;
  margin: 0 auto; }
  header .logo_wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px; }
    header .logo_wrapper h1 {
      text-indent: 100%;
      overflow: hidden;
      background-image: url(../images/logo.png);
      width: 270px;
      height: 121px; }
  header .panel-wrapper {
    vertical-align: middle;
    display: table-cell; }
    header .panel-wrapper .panel {
      background-color: #34b5e9;
      float: left;
      padding: 1.5em; }
      header .panel-wrapper .panel form h4 {
        margin-bottom: 10px; }
      header .panel-wrapper .panel form input[type="text"], header .panel-wrapper .panel form [type="text"].button, header .panel-wrapper .panel form [type="text"].call-to-action, header .panel-wrapper .panel form input[type="password"], header .panel-wrapper .panel form [type="password"].button, header .panel-wrapper .panel form [type="password"].call-to-action {
        width: 7em;
        margin-left: 5px; }
        header .panel-wrapper .panel form input[type="text"]:focus, header .panel-wrapper .panel form [type="text"].button:focus, header .panel-wrapper .panel form [type="text"].call-to-action:focus, header .panel-wrapper .panel form input[type="password"]:focus, header .panel-wrapper .panel form [type="password"].button:focus, header .panel-wrapper .panel form [type="password"].call-to-action:focus {
          outline-offset: 0px;
          outline: 2px solid #3765a8; }
      header .panel-wrapper .panel form .welcome_message {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        margin-bottom: 0; }

.search-box {
  border: 5px solid #2b5797;
  height: 62px;
  padding: 0.5em; }
  .search-box input[type="text"], .search-box [type="text"].button, .search-box [type="text"].call-to-action {
    width: 80%;
    height: 100%; }
  .search-box input[type="submit"], .search-box [type="submit"].button, .search-box [type="submit"].call-to-action {
    height: 90%;
    float: left;
    width: 20%; }

.error, .login_error {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2em;
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  padding: 10px 15px; }

.login_error {
  background: #d45252 url(../images/warning.png) no-repeat 10px 50%;
  padding-left: 45px; }

nav {
  margin-bottom: 5px; }
  nav ol {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    nav ol a {
      display: table;
      text-decoration: none; }
    nav ol li {
      text-align: center;
      color: white;
      font-family: "open sans hebrew", 'sans-serif';
      font-size: 1.7em;
      font-weight: 400;
      display: table-cell;
      vertical-align: middle;
      height: 50px;
      width: 100%; }

.call-to-action {
  font-family: 'Open Sans Hebrew', 'sans-serif';
  padding: 0.5em;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  height: 57px; }

.ck-button {
  margin: 4px;
  background-color: #E8E8E8;
  color: #787878;
  border-radius: 3px;
  overflow: auto;
  display: inline-block;
  vertical-align: middle; }

.ck-button label span {
  text-align: center;
  display: block;
  padding: 0.5em 1.5em; }

.ck-button label input, .ck-button label .button, .ck-button label .call-to-action {
  position: absolute;
  top: -50px; }

.ck-button input:checked + span, .ck-button .button:checked + span, .ck-button .call-to-action:checked + span {
  background-color: #1ba1e2;
  color: #fff; }
  .ck-button input:checked + span:hover, .ck-button .button:checked + span:hover, .ck-button .call-to-action:checked + span:hover {
    background-color: #34b5e9; }

select {
  padding: 0.8em 1.5em; }

html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; }

.page-wrap:after {
  content: "";
  display: block; }

footer, .page-wrap:after {
  height: 60px; }

footer {
  display: table;
  width: 100%;
  color: white;
  background-color: #1ba1e2;
  text-align: center; }
  footer span {
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle; }

/* colors */

/*# sourceMappingURL=base.css.map */
