.row .col-1 {
  float: right;
  margin-right: 1%;
  width: 3.20833%; }
  .row .col-1 .col-1 {
    margin-right: 31.16883%;
    width: 100%; }
  .row .col-1 .col-0 {
    margin-right: 31.16883%;
    width: -31.16883%; }
.row .col-2 {
  float: right;
  margin-right: 1%;
  width: 7.41667%; }
  .row .col-2 .col-1 {
    margin-right: 13.48315%;
    width: 43.25843%; }
.row .col-3 {
  float: right;
  margin-right: 1%;
  width: 11.625%; }
  .row .col-3 .col-1 {
    margin-right: 8.60215%;
    width: 27.59857%; }
  .row .col-3 .col-2 {
    margin-right: 8.60215%;
    width: 63.79928%; }
.row .col-4 {
  float: right;
  margin-right: 1%;
  width: 15.83333%; }
  .row .col-4 .col-1 {
    margin-right: 6.31579%;
    width: 20.26316%; }
  .row .col-4 .col-2 {
    margin-right: 6.31579%;
    width: 46.84211%; }
  .row .col-4 .col-3 {
    margin-right: 6.31579%;
    width: 73.42105%; }
.row .col-5 {
  float: right;
  margin-right: 1%;
  width: 20.04167%; }
  .row .col-5 .col-1 {
    margin-right: 4.9896%;
    width: 16.00832%; }
  .row .col-5 .col-2 {
    margin-right: 4.9896%;
    width: 37.00624%; }
  .row .col-5 .col-3 {
    margin-right: 4.9896%;
    width: 58.00416%; }
  .row .col-5 .col-4 {
    margin-right: 4.9896%;
    width: 79.00208%; }
.row .col-6 {
  float: right;
  margin-right: 1%;
  width: 24.25%; }
  .row .col-6 .col-1 {
    margin-right: 4.12371%;
    width: 13.23024%; }
  .row .col-6 .col-2 {
    margin-right: 4.12371%;
    width: 30.58419%; }
  .row .col-6 .col-3 {
    margin-right: 4.12371%;
    width: 47.93814%; }
  .row .col-6 .col-4 {
    margin-right: 4.12371%;
    width: 65.2921%; }
  .row .col-6 .col-5 {
    margin-right: 4.12371%;
    width: 82.64605%; }
.row .col-7 {
  float: right;
  margin-right: 1%;
  width: 28.45833%; }
  .row .col-7 .col-1 {
    margin-right: 3.51391%;
    width: 11.27379%; }
  .row .col-7 .col-2 {
    margin-right: 3.51391%;
    width: 26.06149%; }
  .row .col-7 .col-3 {
    margin-right: 3.51391%;
    width: 40.84919%; }
  .row .col-7 .col-4 {
    margin-right: 3.51391%;
    width: 55.6369%; }
  .row .col-7 .col-5 {
    margin-right: 3.51391%;
    width: 70.4246%; }
  .row .col-7 .col-6 {
    margin-right: 3.51391%;
    width: 85.2123%; }
.row .col-8 {
  float: right;
  margin-right: 1%;
  width: 32.66667%; }
  .row .col-8 .col-1 {
    margin-right: 3.06122%;
    width: 9.82143%; }
  .row .col-8 .col-2 {
    margin-right: 3.06122%;
    width: 22.70408%; }
  .row .col-8 .col-3 {
    margin-right: 3.06122%;
    width: 35.58673%; }
  .row .col-8 .col-4 {
    margin-right: 3.06122%;
    width: 48.46939%; }
  .row .col-8 .col-5 {
    margin-right: 3.06122%;
    width: 61.35204%; }
  .row .col-8 .col-6 {
    margin-right: 3.06122%;
    width: 74.23469%; }
  .row .col-8 .col-7 {
    margin-right: 3.06122%;
    width: 87.11735%; }
.row .col-9 {
  float: right;
  margin-right: 1%;
  width: 36.875%; }
  .row .col-9 .col-1 {
    margin-right: 2.71186%;
    width: 8.70056%; }
  .row .col-9 .col-2 {
    margin-right: 2.71186%;
    width: 20.11299%; }
  .row .col-9 .col-3 {
    margin-right: 2.71186%;
    width: 31.52542%; }
  .row .col-9 .col-4 {
    margin-right: 2.71186%;
    width: 42.93785%; }
  .row .col-9 .col-5 {
    margin-right: 2.71186%;
    width: 54.35028%; }
  .row .col-9 .col-6 {
    margin-right: 2.71186%;
    width: 65.76271%; }
  .row .col-9 .col-7 {
    margin-right: 2.71186%;
    width: 77.17514%; }
  .row .col-9 .col-8 {
    margin-right: 2.71186%;
    width: 88.58757%; }
.row .col-10 {
  float: right;
  margin-right: 1%;
  width: 41.08333%; }
  .row .col-10 .col-1 {
    margin-right: 2.43408%;
    width: 7.80933%; }
  .row .col-10 .col-2 {
    margin-right: 2.43408%;
    width: 18.05274%; }
  .row .col-10 .col-3 {
    margin-right: 2.43408%;
    width: 28.29615%; }
  .row .col-10 .col-4 {
    margin-right: 2.43408%;
    width: 38.53955%; }
  .row .col-10 .col-5 {
    margin-right: 2.43408%;
    width: 48.78296%; }
  .row .col-10 .col-6 {
    margin-right: 2.43408%;
    width: 59.02637%; }
  .row .col-10 .col-7 {
    margin-right: 2.43408%;
    width: 69.26978%; }
  .row .col-10 .col-8 {
    margin-right: 2.43408%;
    width: 79.51318%; }
  .row .col-10 .col-9 {
    margin-right: 2.43408%;
    width: 89.75659%; }
.row .col-11 {
  float: right;
  margin-right: 1%;
  width: 45.29167%; }
  .row .col-11 .col-1 {
    margin-right: 2.20791%;
    width: 7.08372%; }
  .row .col-11 .col-2 {
    margin-right: 2.20791%;
    width: 16.37534%; }
  .row .col-11 .col-3 {
    margin-right: 2.20791%;
    width: 25.66697%; }
  .row .col-11 .col-4 {
    margin-right: 2.20791%;
    width: 34.9586%; }
  .row .col-11 .col-5 {
    margin-right: 2.20791%;
    width: 44.25023%; }
  .row .col-11 .col-6 {
    margin-right: 2.20791%;
    width: 53.54186%; }
  .row .col-11 .col-7 {
    margin-right: 2.20791%;
    width: 62.83349%; }
  .row .col-11 .col-8 {
    margin-right: 2.20791%;
    width: 72.12511%; }
  .row .col-11 .col-9 {
    margin-right: 2.20791%;
    width: 81.41674%; }
  .row .col-11 .col-10 {
    margin-right: 2.20791%;
    width: 90.70837%; }
.row .col-12 {
  float: right;
  margin-right: 1%;
  width: 49.5%; }
  .row .col-12 .col-1 {
    margin-right: 2.0202%;
    width: 6.48148%; }
  .row .col-12 .col-2 {
    margin-right: 2.0202%;
    width: 14.98316%; }
  .row .col-12 .col-3 {
    margin-right: 2.0202%;
    width: 23.48485%; }
  .row .col-12 .col-4 {
    margin-right: 2.0202%;
    width: 31.98653%; }
  .row .col-12 .col-5 {
    margin-right: 2.0202%;
    width: 40.48822%; }
  .row .col-12 .col-6 {
    margin-right: 2.0202%;
    width: 48.9899%; }
  .row .col-12 .col-7 {
    margin-right: 2.0202%;
    width: 57.49158%; }
  .row .col-12 .col-8 {
    margin-right: 2.0202%;
    width: 65.99327%; }
  .row .col-12 .col-9 {
    margin-right: 2.0202%;
    width: 74.49495%; }
  .row .col-12 .col-10 {
    margin-right: 2.0202%;
    width: 82.99663%; }
  .row .col-12 .col-11 {
    margin-right: 2.0202%;
    width: 91.49832%; }
.row .col-13 {
  float: right;
  margin-right: 1%;
  width: 53.70833%; }
  .row .col-13 .col-1 {
    margin-right: 1.86191%;
    width: 5.97362%; }
  .row .col-13 .col-2 {
    margin-right: 1.86191%;
    width: 13.80915%; }
  .row .col-13 .col-3 {
    margin-right: 1.86191%;
    width: 21.64469%; }
  .row .col-13 .col-4 {
    margin-right: 1.86191%;
    width: 29.48022%; }
  .row .col-13 .col-5 {
    margin-right: 1.86191%;
    width: 37.31575%; }
  .row .col-13 .col-6 {
    margin-right: 1.86191%;
    width: 45.15128%; }
  .row .col-13 .col-7 {
    margin-right: 1.86191%;
    width: 52.98681%; }
  .row .col-13 .col-8 {
    margin-right: 1.86191%;
    width: 60.82234%; }
  .row .col-13 .col-9 {
    margin-right: 1.86191%;
    width: 68.65787%; }
  .row .col-13 .col-10 {
    margin-right: 1.86191%;
    width: 76.49341%; }
  .row .col-13 .col-11 {
    margin-right: 1.86191%;
    width: 84.32894%; }
  .row .col-13 .col-12 {
    margin-right: 1.86191%;
    width: 92.16447%; }
.row .col-14 {
  float: right;
  margin-right: 1%;
  width: 57.91667%; }
  .row .col-14 .col-1 {
    margin-right: 1.72662%;
    width: 5.53957%; }
  .row .col-14 .col-2 {
    margin-right: 1.72662%;
    width: 12.80576%; }
  .row .col-14 .col-3 {
    margin-right: 1.72662%;
    width: 20.07194%; }
  .row .col-14 .col-4 {
    margin-right: 1.72662%;
    width: 27.33813%; }
  .row .col-14 .col-5 {
    margin-right: 1.72662%;
    width: 34.60432%; }
  .row .col-14 .col-6 {
    margin-right: 1.72662%;
    width: 41.8705%; }
  .row .col-14 .col-7 {
    margin-right: 1.72662%;
    width: 49.13669%; }
  .row .col-14 .col-8 {
    margin-right: 1.72662%;
    width: 56.40288%; }
  .row .col-14 .col-9 {
    margin-right: 1.72662%;
    width: 63.66906%; }
  .row .col-14 .col-10 {
    margin-right: 1.72662%;
    width: 70.93525%; }
  .row .col-14 .col-11 {
    margin-right: 1.72662%;
    width: 78.20144%; }
  .row .col-14 .col-12 {
    margin-right: 1.72662%;
    width: 85.46763%; }
  .row .col-14 .col-13 {
    margin-right: 1.72662%;
    width: 92.73381%; }
.row .col-15 {
  float: right;
  margin-right: 1%;
  width: 62.125%; }
  .row .col-15 .col-1 {
    margin-right: 1.60966%;
    width: 5.16432%; }
  .row .col-15 .col-2 {
    margin-right: 1.60966%;
    width: 11.9383%; }
  .row .col-15 .col-3 {
    margin-right: 1.60966%;
    width: 18.71227%; }
  .row .col-15 .col-4 {
    margin-right: 1.60966%;
    width: 25.48625%; }
  .row .col-15 .col-5 {
    margin-right: 1.60966%;
    width: 32.26023%; }
  .row .col-15 .col-6 {
    margin-right: 1.60966%;
    width: 39.03421%; }
  .row .col-15 .col-7 {
    margin-right: 1.60966%;
    width: 45.80818%; }
  .row .col-15 .col-8 {
    margin-right: 1.60966%;
    width: 52.58216%; }
  .row .col-15 .col-9 {
    margin-right: 1.60966%;
    width: 59.35614%; }
  .row .col-15 .col-10 {
    margin-right: 1.60966%;
    width: 66.13011%; }
  .row .col-15 .col-11 {
    margin-right: 1.60966%;
    width: 72.90409%; }
  .row .col-15 .col-12 {
    margin-right: 1.60966%;
    width: 79.67807%; }
  .row .col-15 .col-13 {
    margin-right: 1.60966%;
    width: 86.45205%; }
  .row .col-15 .col-14 {
    margin-right: 1.60966%;
    width: 93.22602%; }
.row .col-16 {
  float: right;
  margin-right: 1%;
  width: 66.33333%; }
  .row .col-16 .col-1 {
    margin-right: 1.50754%;
    width: 4.83668%; }
  .row .col-16 .col-2 {
    margin-right: 1.50754%;
    width: 11.1809%; }
  .row .col-16 .col-3 {
    margin-right: 1.50754%;
    width: 17.52513%; }
  .row .col-16 .col-4 {
    margin-right: 1.50754%;
    width: 23.86935%; }
  .row .col-16 .col-5 {
    margin-right: 1.50754%;
    width: 30.21357%; }
  .row .col-16 .col-6 {
    margin-right: 1.50754%;
    width: 36.55779%; }
  .row .col-16 .col-7 {
    margin-right: 1.50754%;
    width: 42.90201%; }
  .row .col-16 .col-8 {
    margin-right: 1.50754%;
    width: 49.24623%; }
  .row .col-16 .col-9 {
    margin-right: 1.50754%;
    width: 55.59045%; }
  .row .col-16 .col-10 {
    margin-right: 1.50754%;
    width: 61.93467%; }
  .row .col-16 .col-11 {
    margin-right: 1.50754%;
    width: 68.27889%; }
  .row .col-16 .col-12 {
    margin-right: 1.50754%;
    width: 74.62312%; }
  .row .col-16 .col-13 {
    margin-right: 1.50754%;
    width: 80.96734%; }
  .row .col-16 .col-14 {
    margin-right: 1.50754%;
    width: 87.31156%; }
  .row .col-16 .col-15 {
    margin-right: 1.50754%;
    width: 93.65578%; }
.row .col-17 {
  float: right;
  margin-right: 1%;
  width: 70.54167%; }
  .row .col-17 .col-1 {
    margin-right: 1.4176%;
    width: 4.54814%; }
  .row .col-17 .col-2 {
    margin-right: 1.4176%;
    width: 10.51388%; }
  .row .col-17 .col-3 {
    margin-right: 1.4176%;
    width: 16.47962%; }
  .row .col-17 .col-4 {
    margin-right: 1.4176%;
    width: 22.44536%; }
  .row .col-17 .col-5 {
    margin-right: 1.4176%;
    width: 28.4111%; }
  .row .col-17 .col-6 {
    margin-right: 1.4176%;
    width: 34.37685%; }
  .row .col-17 .col-7 {
    margin-right: 1.4176%;
    width: 40.34259%; }
  .row .col-17 .col-8 {
    margin-right: 1.4176%;
    width: 46.30833%; }
  .row .col-17 .col-9 {
    margin-right: 1.4176%;
    width: 52.27407%; }
  .row .col-17 .col-10 {
    margin-right: 1.4176%;
    width: 58.23981%; }
  .row .col-17 .col-11 {
    margin-right: 1.4176%;
    width: 64.20555%; }
  .row .col-17 .col-12 {
    margin-right: 1.4176%;
    width: 70.17129%; }
  .row .col-17 .col-13 {
    margin-right: 1.4176%;
    width: 76.13703%; }
  .row .col-17 .col-14 {
    margin-right: 1.4176%;
    width: 82.10278%; }
  .row .col-17 .col-15 {
    margin-right: 1.4176%;
    width: 88.06852%; }
  .row .col-17 .col-16 {
    margin-right: 1.4176%;
    width: 94.03426%; }
.row .col-18 {
  float: right;
  margin-right: 1%;
  width: 74.75%; }
  .row .col-18 .col-1 {
    margin-right: 1.33779%;
    width: 4.29208%; }
  .row .col-18 .col-2 {
    margin-right: 1.33779%;
    width: 9.92196%; }
  .row .col-18 .col-3 {
    margin-right: 1.33779%;
    width: 15.55184%; }
  .row .col-18 .col-4 {
    margin-right: 1.33779%;
    width: 21.18172%; }
  .row .col-18 .col-5 {
    margin-right: 1.33779%;
    width: 26.81159%; }
  .row .col-18 .col-6 {
    margin-right: 1.33779%;
    width: 32.44147%; }
  .row .col-18 .col-7 {
    margin-right: 1.33779%;
    width: 38.07135%; }
  .row .col-18 .col-8 {
    margin-right: 1.33779%;
    width: 43.70123%; }
  .row .col-18 .col-9 {
    margin-right: 1.33779%;
    width: 49.3311%; }
  .row .col-18 .col-10 {
    margin-right: 1.33779%;
    width: 54.96098%; }
  .row .col-18 .col-11 {
    margin-right: 1.33779%;
    width: 60.59086%; }
  .row .col-18 .col-12 {
    margin-right: 1.33779%;
    width: 66.22074%; }
  .row .col-18 .col-13 {
    margin-right: 1.33779%;
    width: 71.85061%; }
  .row .col-18 .col-14 {
    margin-right: 1.33779%;
    width: 77.48049%; }
  .row .col-18 .col-15 {
    margin-right: 1.33779%;
    width: 83.11037%; }
  .row .col-18 .col-16 {
    margin-right: 1.33779%;
    width: 88.74025%; }
  .row .col-18 .col-17 {
    margin-right: 1.33779%;
    width: 94.37012%; }
.row .col-19 {
  float: right;
  margin-right: 1%;
  width: 78.95833%; }
  .row .col-19 .col-1 {
    margin-right: 1.26649%;
    width: 4.06332%; }
  .row .col-19 .col-2 {
    margin-right: 1.26649%;
    width: 9.39314%; }
  .row .col-19 .col-3 {
    margin-right: 1.26649%;
    width: 14.72296%; }
  .row .col-19 .col-4 {
    margin-right: 1.26649%;
    width: 20.05277%; }
  .row .col-19 .col-5 {
    margin-right: 1.26649%;
    width: 25.38259%; }
  .row .col-19 .col-6 {
    margin-right: 1.26649%;
    width: 30.7124%; }
  .row .col-19 .col-7 {
    margin-right: 1.26649%;
    width: 36.04222%; }
  .row .col-19 .col-8 {
    margin-right: 1.26649%;
    width: 41.37203%; }
  .row .col-19 .col-9 {
    margin-right: 1.26649%;
    width: 46.70185%; }
  .row .col-19 .col-10 {
    margin-right: 1.26649%;
    width: 52.03166%; }
  .row .col-19 .col-11 {
    margin-right: 1.26649%;
    width: 57.36148%; }
  .row .col-19 .col-12 {
    margin-right: 1.26649%;
    width: 62.69129%; }
  .row .col-19 .col-13 {
    margin-right: 1.26649%;
    width: 68.02111%; }
  .row .col-19 .col-14 {
    margin-right: 1.26649%;
    width: 73.35092%; }
  .row .col-19 .col-15 {
    margin-right: 1.26649%;
    width: 78.68074%; }
  .row .col-19 .col-16 {
    margin-right: 1.26649%;
    width: 84.01055%; }
  .row .col-19 .col-17 {
    margin-right: 1.26649%;
    width: 89.34037%; }
  .row .col-19 .col-18 {
    margin-right: 1.26649%;
    width: 94.67018%; }
.row .col-20 {
  float: right;
  margin-right: 1%;
  width: 83.16667%; }
  .row .col-20 .col-1 {
    margin-right: 1.2024%;
    width: 3.85772%; }
  .row .col-20 .col-2 {
    margin-right: 1.2024%;
    width: 8.91784%; }
  .row .col-20 .col-3 {
    margin-right: 1.2024%;
    width: 13.97796%; }
  .row .col-20 .col-4 {
    margin-right: 1.2024%;
    width: 19.03808%; }
  .row .col-20 .col-5 {
    margin-right: 1.2024%;
    width: 24.0982%; }
  .row .col-20 .col-6 {
    margin-right: 1.2024%;
    width: 29.15832%; }
  .row .col-20 .col-7 {
    margin-right: 1.2024%;
    width: 34.21844%; }
  .row .col-20 .col-8 {
    margin-right: 1.2024%;
    width: 39.27856%; }
  .row .col-20 .col-9 {
    margin-right: 1.2024%;
    width: 44.33868%; }
  .row .col-20 .col-10 {
    margin-right: 1.2024%;
    width: 49.3988%; }
  .row .col-20 .col-11 {
    margin-right: 1.2024%;
    width: 54.45892%; }
  .row .col-20 .col-12 {
    margin-right: 1.2024%;
    width: 59.51904%; }
  .row .col-20 .col-13 {
    margin-right: 1.2024%;
    width: 64.57916%; }
  .row .col-20 .col-14 {
    margin-right: 1.2024%;
    width: 69.63928%; }
  .row .col-20 .col-15 {
    margin-right: 1.2024%;
    width: 74.6994%; }
  .row .col-20 .col-16 {
    margin-right: 1.2024%;
    width: 79.75952%; }
  .row .col-20 .col-17 {
    margin-right: 1.2024%;
    width: 84.81964%; }
  .row .col-20 .col-18 {
    margin-right: 1.2024%;
    width: 89.87976%; }
  .row .col-20 .col-19 {
    margin-right: 1.2024%;
    width: 94.93988%; }
.row .col-21 {
  float: right;
  margin-right: 1%;
  width: 87.375%; }
  .row .col-21 .col-1 {
    margin-right: 1.14449%;
    width: 3.67191%; }
  .row .col-21 .col-2 {
    margin-right: 1.14449%;
    width: 8.48832%; }
  .row .col-21 .col-3 {
    margin-right: 1.14449%;
    width: 13.30472%; }
  .row .col-21 .col-4 {
    margin-right: 1.14449%;
    width: 18.12113%; }
  .row .col-21 .col-5 {
    margin-right: 1.14449%;
    width: 22.93753%; }
  .row .col-21 .col-6 {
    margin-right: 1.14449%;
    width: 27.75393%; }
  .row .col-21 .col-7 {
    margin-right: 1.14449%;
    width: 32.57034%; }
  .row .col-21 .col-8 {
    margin-right: 1.14449%;
    width: 37.38674%; }
  .row .col-21 .col-9 {
    margin-right: 1.14449%;
    width: 42.20315%; }
  .row .col-21 .col-10 {
    margin-right: 1.14449%;
    width: 47.01955%; }
  .row .col-21 .col-11 {
    margin-right: 1.14449%;
    width: 51.83596%; }
  .row .col-21 .col-12 {
    margin-right: 1.14449%;
    width: 56.65236%; }
  .row .col-21 .col-13 {
    margin-right: 1.14449%;
    width: 61.46876%; }
  .row .col-21 .col-14 {
    margin-right: 1.14449%;
    width: 66.28517%; }
  .row .col-21 .col-15 {
    margin-right: 1.14449%;
    width: 71.10157%; }
  .row .col-21 .col-16 {
    margin-right: 1.14449%;
    width: 75.91798%; }
  .row .col-21 .col-17 {
    margin-right: 1.14449%;
    width: 80.73438%; }
  .row .col-21 .col-18 {
    margin-right: 1.14449%;
    width: 85.55079%; }
  .row .col-21 .col-19 {
    margin-right: 1.14449%;
    width: 90.36719%; }
  .row .col-21 .col-20 {
    margin-right: 1.14449%;
    width: 95.1836%; }
.row .col-22 {
  float: right;
  margin-right: 1%;
  width: 91.58333%; }
  .row .col-22 .col-1 {
    margin-right: 1.0919%;
    width: 3.50318%; }
  .row .col-22 .col-2 {
    margin-right: 1.0919%;
    width: 8.09827%; }
  .row .col-22 .col-3 {
    margin-right: 1.0919%;
    width: 12.69336%; }
  .row .col-22 .col-4 {
    margin-right: 1.0919%;
    width: 17.28844%; }
  .row .col-22 .col-5 {
    margin-right: 1.0919%;
    width: 21.88353%; }
  .row .col-22 .col-6 {
    margin-right: 1.0919%;
    width: 26.47862%; }
  .row .col-22 .col-7 {
    margin-right: 1.0919%;
    width: 31.0737%; }
  .row .col-22 .col-8 {
    margin-right: 1.0919%;
    width: 35.66879%; }
  .row .col-22 .col-9 {
    margin-right: 1.0919%;
    width: 40.26388%; }
  .row .col-22 .col-10 {
    margin-right: 1.0919%;
    width: 44.85896%; }
  .row .col-22 .col-11 {
    margin-right: 1.0919%;
    width: 49.45405%; }
  .row .col-22 .col-12 {
    margin-right: 1.0919%;
    width: 54.04914%; }
  .row .col-22 .col-13 {
    margin-right: 1.0919%;
    width: 58.64422%; }
  .row .col-22 .col-14 {
    margin-right: 1.0919%;
    width: 63.23931%; }
  .row .col-22 .col-15 {
    margin-right: 1.0919%;
    width: 67.83439%; }
  .row .col-22 .col-16 {
    margin-right: 1.0919%;
    width: 72.42948%; }
  .row .col-22 .col-17 {
    margin-right: 1.0919%;
    width: 77.02457%; }
  .row .col-22 .col-18 {
    margin-right: 1.0919%;
    width: 81.61965%; }
  .row .col-22 .col-19 {
    margin-right: 1.0919%;
    width: 86.21474%; }
  .row .col-22 .col-20 {
    margin-right: 1.0919%;
    width: 90.80983%; }
  .row .col-22 .col-21 {
    margin-right: 1.0919%;
    width: 95.40491%; }
.row .col-23 {
  float: right;
  margin-right: 1%;
  width: 95.79167%; }
  .row .col-23 .col-1 {
    margin-right: 1.04393%;
    width: 3.34928%; }
  .row .col-23 .col-2 {
    margin-right: 1.04393%;
    width: 7.7425%; }
  .row .col-23 .col-3 {
    margin-right: 1.04393%;
    width: 12.13571%; }
  .row .col-23 .col-4 {
    margin-right: 1.04393%;
    width: 16.52893%; }
  .row .col-23 .col-5 {
    margin-right: 1.04393%;
    width: 20.92214%; }
  .row .col-23 .col-6 {
    margin-right: 1.04393%;
    width: 25.31535%; }
  .row .col-23 .col-7 {
    margin-right: 1.04393%;
    width: 29.70857%; }
  .row .col-23 .col-8 {
    margin-right: 1.04393%;
    width: 34.10178%; }
  .row .col-23 .col-9 {
    margin-right: 1.04393%;
    width: 38.495%; }
  .row .col-23 .col-10 {
    margin-right: 1.04393%;
    width: 42.88821%; }
  .row .col-23 .col-11 {
    margin-right: 1.04393%;
    width: 47.28143%; }
  .row .col-23 .col-12 {
    margin-right: 1.04393%;
    width: 51.67464%; }
  .row .col-23 .col-13 {
    margin-right: 1.04393%;
    width: 56.06786%; }
  .row .col-23 .col-14 {
    margin-right: 1.04393%;
    width: 60.46107%; }
  .row .col-23 .col-15 {
    margin-right: 1.04393%;
    width: 64.85428%; }
  .row .col-23 .col-16 {
    margin-right: 1.04393%;
    width: 69.2475%; }
  .row .col-23 .col-17 {
    margin-right: 1.04393%;
    width: 73.64071%; }
  .row .col-23 .col-18 {
    margin-right: 1.04393%;
    width: 78.03393%; }
  .row .col-23 .col-19 {
    margin-right: 1.04393%;
    width: 82.42714%; }
  .row .col-23 .col-20 {
    margin-right: 1.04393%;
    width: 86.82036%; }
  .row .col-23 .col-21 {
    margin-right: 1.04393%;
    width: 91.21357%; }
  .row .col-23 .col-22 {
    margin-right: 1.04393%;
    width: 95.60679%; }
.row .col-24 {
  float: right;
  margin-right: 1%;
  width: 100%; }
  .row .col-24 .col-1 {
    margin-right: 1%;
    width: 3.20833%; }
  .row .col-24 .col-2 {
    margin-right: 1%;
    width: 7.41667%; }
  .row .col-24 .col-3 {
    margin-right: 1%;
    width: 11.625%; }
  .row .col-24 .col-4 {
    margin-right: 1%;
    width: 15.83333%; }
  .row .col-24 .col-5 {
    margin-right: 1%;
    width: 20.04167%; }
  .row .col-24 .col-6 {
    margin-right: 1%;
    width: 24.25%; }
  .row .col-24 .col-7 {
    margin-right: 1%;
    width: 28.45833%; }
  .row .col-24 .col-8 {
    margin-right: 1%;
    width: 32.66667%; }
  .row .col-24 .col-9 {
    margin-right: 1%;
    width: 36.875%; }
  .row .col-24 .col-10 {
    margin-right: 1%;
    width: 41.08333%; }
  .row .col-24 .col-11 {
    margin-right: 1%;
    width: 45.29167%; }
  .row .col-24 .col-12 {
    margin-right: 1%;
    width: 49.5%; }
  .row .col-24 .col-13 {
    margin-right: 1%;
    width: 53.70833%; }
  .row .col-24 .col-14 {
    margin-right: 1%;
    width: 57.91667%; }
  .row .col-24 .col-15 {
    margin-right: 1%;
    width: 62.125%; }
  .row .col-24 .col-16 {
    margin-right: 1%;
    width: 66.33333%; }
  .row .col-24 .col-17 {
    margin-right: 1%;
    width: 70.54167%; }
  .row .col-24 .col-18 {
    margin-right: 1%;
    width: 74.75%; }
  .row .col-24 .col-19 {
    margin-right: 1%;
    width: 78.95833%; }
  .row .col-24 .col-20 {
    margin-right: 1%;
    width: 83.16667%; }
  .row .col-24 .col-21 {
    margin-right: 1%;
    width: 87.375%; }
  .row .col-24 .col-22 {
    margin-right: 1%;
    width: 91.58333%; }
  .row .col-24 .col-23 {
    margin-right: 1%;
    width: 95.79167%; }
.row > :first-child,
.row .row > :first-child {
  margin-right: 0; }

.part-of-1 {
  margin-right: 1%;
  float: right;
  width: 100%; }
  .part-of-1:nth-of-type(1n+1) {
    margin-right: 0; }
  .part-of-1:nth-of-type(n+2) {
    margin-top: 1%; }

.part-of-2 {
  margin-right: 1%;
  float: right;
  width: 49.5%; }
  .part-of-2:nth-of-type(2n+1) {
    margin-right: 0; }
  .part-of-2:nth-of-type(n+3) {
    margin-top: 1%; }

.part-of-3 {
  margin-right: 1%;
  float: right;
  width: 32.66667%; }
  .part-of-3:nth-of-type(3n+1) {
    margin-right: 0; }
  .part-of-3:nth-of-type(n+4) {
    margin-top: 1%; }

.part-of-4 {
  margin-right: 1%;
  float: right;
  width: 24.25%; }
  .part-of-4:nth-of-type(4n+1) {
    margin-right: 0; }
  .part-of-4:nth-of-type(n+5) {
    margin-top: 1%; }

.part-of-5 {
  margin-right: 1%;
  float: right;
  width: 19.2%; }
  .part-of-5:nth-of-type(5n+1) {
    margin-right: 0; }
  .part-of-5:nth-of-type(n+6) {
    margin-top: 1%; }

.part-of-6 {
  margin-right: 1%;
  float: right;
  width: 15.83333%; }
  .part-of-6:nth-of-type(6n+1) {
    margin-right: 0; }
  .part-of-6:nth-of-type(n+7) {
    margin-top: 1%; }

.part-of-7 {
  margin-right: 1%;
  float: right;
  width: 13.42857%; }
  .part-of-7:nth-of-type(7n+1) {
    margin-right: 0; }
  .part-of-7:nth-of-type(n+8) {
    margin-top: 1%; }

.part-of-8 {
  margin-right: 1%;
  float: right;
  width: 11.625%; }
  .part-of-8:nth-of-type(8n+1) {
    margin-right: 0; }
  .part-of-8:nth-of-type(n+9) {
    margin-top: 1%; }

.part-of-9 {
  margin-right: 1%;
  float: right;
  width: 10.22222%; }
  .part-of-9:nth-of-type(9n+1) {
    margin-right: 0; }
  .part-of-9:nth-of-type(n+10) {
    margin-top: 1%; }

.part-of-10 {
  margin-right: 1%;
  float: right;
  width: 9.1%; }
  .part-of-10:nth-of-type(10n+1) {
    margin-right: 0; }
  .part-of-10:nth-of-type(n+11) {
    margin-top: 1%; }

.part-of-11 {
  margin-right: 1%;
  float: right;
  width: 8.18182%; }
  .part-of-11:nth-of-type(11n+1) {
    margin-right: 0; }
  .part-of-11:nth-of-type(n+12) {
    margin-top: 1%; }

.part-of-12 {
  margin-right: 1%;
  float: right;
  width: 7.41667%; }
  .part-of-12:nth-of-type(12n+1) {
    margin-right: 0; }
  .part-of-12:nth-of-type(n+13) {
    margin-top: 1%; }

.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

*:lang(eng) {
  direction: ltr; }

.content {
  padding: 2em;
  /* remember to define focus styles! */
  /* remember to highlight inserts somehow! */
  /* tables still need 'cellspacing="0"' in the markup */ }
  .content html {
    color: #000;
    background: #FFF; }
  .content body, .content div, .content dl, .content dt, .content dd, .content ul, .content ol, .content li, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content pre, .content code, .content form, .content fieldset, .content legend, .content input, .content textarea, .content p, .content blockquote, .content th, .content td {
    margin: 0;
    padding: 0; }
  .content table {
    border-collapse: collapse;
    border-spacing: 0; }
  .content fieldset, .content img {
    border: 0; }
  .content address, .content caption, .content cite, .content code, .content dfn, .content em, .content strong, .content th, .content var {
    font-style: normal;
    font-weight: normal; }
  .content ol, .content ul {
    list-style: none; }
  .content caption, .content th {
    text-align: left; }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-size: 100%;
    font-weight: normal; }
  .content q:before, .content q:after {
    content: ''; }
  .content abbr, .content acronym {
    border: 0;
    font-variant: normal; }
  .content sup {
    vertical-align: text-top; }
  .content sub {
    vertical-align: text-bottom; }
  .content input, .content textarea, .content select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%; }
  .content legend {
    color: #000; }
  .content #yui3-css-stamp.cssreset {
    display: none; }
  .content html, .content body, .content div, .content span, .content applet, .content object, .content iframe,
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p, .content blockquote, .content pre,
  .content a, .content abbr, .content acronym, .content address, .content big, .content cite, .content code,
  .content del, .content dfn, .content em, .content font, .content img, .content ins, .content kbd, .content q, .content s, .content samp,
  .content small, .content strike, .content strong, .content sub, .content sup, .content tt, .content var,
  .content b, .content u, .content i, .content center,
  .content dl, .content dt, .content dd, .content ol, .content ul, .content li,
  .content fieldset, .content form, .content label, .content legend,
  .content table, .content caption, .content tbody, .content tfoot, .content thead, .content tr, .content th, .content td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; }
  .content body {
    line-height: 1; }
  .content ol, .content ul {
    list-style: none; }
  .content blockquote, .content q {
    quotes: none; }
  .content blockquote:before, .content blockquote:after,
  .content q:before, .content q:after {
    content: '';
    content: none; }
  .content :focus {
    outline: 0; }
  .content ins {
    text-decoration: none; }
  .content del {
    text-decoration: line-through; }
  .content table {
    border-collapse: collapse;
    border-spacing: 0; }
  .content * {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important; }
  .content td {
    padding: 15px !important;
    vertical-align: middle !important; }
  .content tr:nth-child(odd) {
    background-color: #f9f9f9 !important; }
  .content tr:nth-child(even) {
    background-color: #e0dfdf !important; }
  .content table {
    width: 100% !important; }
  .content th {
    background-color: #3765a8 !important; }
  .content li {
    line-height: 2em !important;
    margin-right: 16px; }
  .content ul {
    list-style-type: square !important; }
  .content pre {
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    border-style: solid !important;
    border-width: 1px !important;
    line-height: 1.8em !important;
    padding: 1em !important;
    border: 1px dashed #2f6fab !important;
    color: black !important;
    background-color: #f9f9f9 !important; }
  .content body {
    color: #37474f;
    font-size: 12px;
    font-family: 'Arimo', 'sans-serif';
    font-weight: 400;
    line-height: 1.6; }
  .content h1, .content h2, .content h3, .content h4, .content h5 {
    font-family: "Open Sans Hebrew", "sans-serif" !important; }
  .content p, .content h1, .content h2, .content h3, .content h4, .content h5, .content table {
    margin-bottom: 0.5em; }
  .content h1 {
    font-size: 2em;
    font-weight: 700;
    border-bottom: 1px solid #37474f; }
  .content h2 {
    font-size: 1.5em;
    font-weight: 700; }
  .content h3 {
    font-size: 1.2em;
    font-weight: 700; }
  .content strong {
    font-weight: bold; }
  .content img {
    -webkit-box-shadow: inset 0 0 2px black, inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 2px black, inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 2px black, inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4); }

.options-bar {
  margin-top: 5px;
  width: 100%;
  display: table;
  background-color: #34b5e9;
  padding: 1em;
  border: 5px solid #1ba1e2; }
  .options-bar .button {
    border: 3px solid #2b5797;
    height: auto;
    vertical-align: middle; }
  .options-bar .rating-module, .options-bar .favorites-module {
    display: table-cell;
    width: 50%;
    vertical-align: top; }
    .options-bar .rating-module .button, .options-bar .favorites-module .button {
      margin-left: 0.5em; }
    .options-bar .rating-module .selected, .options-bar .favorites-module .selected {
      background-color: #607D8B;
      border: 3px solid #2b5797;
      color: #2b5797;
      height: auto; }
    .options-bar .rating-module h4, .options-bar .favorites-module h4 {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5%;
      color: white; }
  .options-bar .favorites-module {
    text-align: left; }
    .options-bar .favorites-module .button {
      margin: 0; }

.comment-content {
  background-color: #d7e4ed;
  padding: 20px;
  width: 50%;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP printers */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }
  .comment-content p {
    margin: 0px;
    text-align: right; }

.comment-content:after {
  content: "";
  position: absolute;
  top: 9px;
  right: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22.5px solid #d7e4ed;
  display: block;
  width: 0;
  height: 0;
  z-index: 1; }

.author {
  margin: 0px;
  font-size: 22px; }

.timestamp {
  margin: 0px;
  font-size: 12px;
  line-height: 10px;
  direction: ltr; }

.comment-info {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  vertical-align: top;
  min-width: 12%; }

.comments-wrapper li {
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 0px;
  list-style: none;
  text-align: right; }

textarea {
  padding: 10px;
  resize: none;
  width: 100%;
  height: 150px; }

/*# sourceMappingURL=summary.css.map */
