.row .col-1 {
  float: right;
  margin-right: 1%;
  width: 5.3125%; }
  .row .col-1 .col-1 {
    margin-right: 18.82353%;
    width: 100%; }
  .row .col-1 .col-0 {
    margin-right: 18.82353%;
    width: -18.82353%; }
.row .col-2 {
  float: right;
  margin-right: 1%;
  width: 11.625%; }
  .row .col-2 .col-1 {
    margin-right: 8.60215%;
    width: 45.69892%; }
.row .col-3 {
  float: right;
  margin-right: 1%;
  width: 17.9375%; }
  .row .col-3 .col-1 {
    margin-right: 5.57491%;
    width: 29.61672%; }
  .row .col-3 .col-2 {
    margin-right: 5.57491%;
    width: 64.80836%; }
.row .col-4 {
  float: right;
  margin-right: 1%;
  width: 24.25%; }
  .row .col-4 .col-1 {
    margin-right: 4.12371%;
    width: 21.90722%; }
  .row .col-4 .col-2 {
    margin-right: 4.12371%;
    width: 47.93814%; }
  .row .col-4 .col-3 {
    margin-right: 4.12371%;
    width: 73.96907%; }
.row .col-5 {
  float: right;
  margin-right: 1%;
  width: 30.5625%; }
  .row .col-5 .col-1 {
    margin-right: 3.27198%;
    width: 17.38241%; }
  .row .col-5 .col-2 {
    margin-right: 3.27198%;
    width: 38.03681%; }
  .row .col-5 .col-3 {
    margin-right: 3.27198%;
    width: 58.69121%; }
  .row .col-5 .col-4 {
    margin-right: 3.27198%;
    width: 79.3456%; }
.row .col-6 {
  float: right;
  margin-right: 1%;
  width: 36.875%; }
  .row .col-6 .col-1 {
    margin-right: 2.71186%;
    width: 14.40678%; }
  .row .col-6 .col-2 {
    margin-right: 2.71186%;
    width: 31.52542%; }
  .row .col-6 .col-3 {
    margin-right: 2.71186%;
    width: 48.64407%; }
  .row .col-6 .col-4 {
    margin-right: 2.71186%;
    width: 65.76271%; }
  .row .col-6 .col-5 {
    margin-right: 2.71186%;
    width: 82.88136%; }
.row .col-7 {
  float: right;
  margin-right: 1%;
  width: 43.1875%; }
  .row .col-7 .col-1 {
    margin-right: 2.31548%;
    width: 12.30101%; }
  .row .col-7 .col-2 {
    margin-right: 2.31548%;
    width: 26.91751%; }
  .row .col-7 .col-3 {
    margin-right: 2.31548%;
    width: 41.53401%; }
  .row .col-7 .col-4 {
    margin-right: 2.31548%;
    width: 56.15051%; }
  .row .col-7 .col-5 {
    margin-right: 2.31548%;
    width: 70.767%; }
  .row .col-7 .col-6 {
    margin-right: 2.31548%;
    width: 85.3835%; }
.row .col-8 {
  float: right;
  margin-right: 1%;
  width: 49.5%; }
  .row .col-8 .col-1 {
    margin-right: 2.0202%;
    width: 10.73232%; }
  .row .col-8 .col-2 {
    margin-right: 2.0202%;
    width: 23.48485%; }
  .row .col-8 .col-3 {
    margin-right: 2.0202%;
    width: 36.23737%; }
  .row .col-8 .col-4 {
    margin-right: 2.0202%;
    width: 48.9899%; }
  .row .col-8 .col-5 {
    margin-right: 2.0202%;
    width: 61.74242%; }
  .row .col-8 .col-6 {
    margin-right: 2.0202%;
    width: 74.49495%; }
  .row .col-8 .col-7 {
    margin-right: 2.0202%;
    width: 87.24747%; }
.row .col-9 {
  float: right;
  margin-right: 1%;
  width: 55.8125%; }
  .row .col-9 .col-1 {
    margin-right: 1.79171%;
    width: 9.51848%; }
  .row .col-9 .col-2 {
    margin-right: 1.79171%;
    width: 20.82867%; }
  .row .col-9 .col-3 {
    margin-right: 1.79171%;
    width: 32.13886%; }
  .row .col-9 .col-4 {
    margin-right: 1.79171%;
    width: 43.44905%; }
  .row .col-9 .col-5 {
    margin-right: 1.79171%;
    width: 54.75924%; }
  .row .col-9 .col-6 {
    margin-right: 1.79171%;
    width: 66.06943%; }
  .row .col-9 .col-7 {
    margin-right: 1.79171%;
    width: 77.37962%; }
  .row .col-9 .col-8 {
    margin-right: 1.79171%;
    width: 88.68981%; }
.row .col-10 {
  float: right;
  margin-right: 1%;
  width: 62.125%; }
  .row .col-10 .col-1 {
    margin-right: 1.60966%;
    width: 8.55131%; }
  .row .col-10 .col-2 {
    margin-right: 1.60966%;
    width: 18.71227%; }
  .row .col-10 .col-3 {
    margin-right: 1.60966%;
    width: 28.87324%; }
  .row .col-10 .col-4 {
    margin-right: 1.60966%;
    width: 39.03421%; }
  .row .col-10 .col-5 {
    margin-right: 1.60966%;
    width: 49.19517%; }
  .row .col-10 .col-6 {
    margin-right: 1.60966%;
    width: 59.35614%; }
  .row .col-10 .col-7 {
    margin-right: 1.60966%;
    width: 69.5171%; }
  .row .col-10 .col-8 {
    margin-right: 1.60966%;
    width: 79.67807%; }
  .row .col-10 .col-9 {
    margin-right: 1.60966%;
    width: 89.83903%; }
.row .col-11 {
  float: right;
  margin-right: 1%;
  width: 68.4375%; }
  .row .col-11 .col-1 {
    margin-right: 1.46119%;
    width: 7.76256%; }
  .row .col-11 .col-2 {
    margin-right: 1.46119%;
    width: 16.9863%; }
  .row .col-11 .col-3 {
    margin-right: 1.46119%;
    width: 26.21005%; }
  .row .col-11 .col-4 {
    margin-right: 1.46119%;
    width: 35.43379%; }
  .row .col-11 .col-5 {
    margin-right: 1.46119%;
    width: 44.65753%; }
  .row .col-11 .col-6 {
    margin-right: 1.46119%;
    width: 53.88128%; }
  .row .col-11 .col-7 {
    margin-right: 1.46119%;
    width: 63.10502%; }
  .row .col-11 .col-8 {
    margin-right: 1.46119%;
    width: 72.32877%; }
  .row .col-11 .col-9 {
    margin-right: 1.46119%;
    width: 81.55251%; }
  .row .col-11 .col-10 {
    margin-right: 1.46119%;
    width: 90.77626%; }
.row .col-12 {
  float: right;
  margin-right: 1%;
  width: 74.75%; }
  .row .col-12 .col-1 {
    margin-right: 1.33779%;
    width: 7.10702%; }
  .row .col-12 .col-2 {
    margin-right: 1.33779%;
    width: 15.55184%; }
  .row .col-12 .col-3 {
    margin-right: 1.33779%;
    width: 23.99666%; }
  .row .col-12 .col-4 {
    margin-right: 1.33779%;
    width: 32.44147%; }
  .row .col-12 .col-5 {
    margin-right: 1.33779%;
    width: 40.88629%; }
  .row .col-12 .col-6 {
    margin-right: 1.33779%;
    width: 49.3311%; }
  .row .col-12 .col-7 {
    margin-right: 1.33779%;
    width: 57.77592%; }
  .row .col-12 .col-8 {
    margin-right: 1.33779%;
    width: 66.22074%; }
  .row .col-12 .col-9 {
    margin-right: 1.33779%;
    width: 74.66555%; }
  .row .col-12 .col-10 {
    margin-right: 1.33779%;
    width: 83.11037%; }
  .row .col-12 .col-11 {
    margin-right: 1.33779%;
    width: 91.55518%; }
.row .col-13 {
  float: right;
  margin-right: 1%;
  width: 81.0625%; }
  .row .col-13 .col-1 {
    margin-right: 1.23362%;
    width: 6.55359%; }
  .row .col-13 .col-2 {
    margin-right: 1.23362%;
    width: 14.34079%; }
  .row .col-13 .col-3 {
    margin-right: 1.23362%;
    width: 22.12799%; }
  .row .col-13 .col-4 {
    margin-right: 1.23362%;
    width: 29.91519%; }
  .row .col-13 .col-5 {
    margin-right: 1.23362%;
    width: 37.70239%; }
  .row .col-13 .col-6 {
    margin-right: 1.23362%;
    width: 45.48959%; }
  .row .col-13 .col-7 {
    margin-right: 1.23362%;
    width: 53.27679%; }
  .row .col-13 .col-8 {
    margin-right: 1.23362%;
    width: 61.06399%; }
  .row .col-13 .col-9 {
    margin-right: 1.23362%;
    width: 68.8512%; }
  .row .col-13 .col-10 {
    margin-right: 1.23362%;
    width: 76.6384%; }
  .row .col-13 .col-11 {
    margin-right: 1.23362%;
    width: 84.4256%; }
  .row .col-13 .col-12 {
    margin-right: 1.23362%;
    width: 92.2128%; }
.row .col-14 {
  float: right;
  margin-right: 1%;
  width: 87.375%; }
  .row .col-14 .col-1 {
    margin-right: 1.14449%;
    width: 6.08011%; }
  .row .col-14 .col-2 {
    margin-right: 1.14449%;
    width: 13.30472%; }
  .row .col-14 .col-3 {
    margin-right: 1.14449%;
    width: 20.52933%; }
  .row .col-14 .col-4 {
    margin-right: 1.14449%;
    width: 27.75393%; }
  .row .col-14 .col-5 {
    margin-right: 1.14449%;
    width: 34.97854%; }
  .row .col-14 .col-6 {
    margin-right: 1.14449%;
    width: 42.20315%; }
  .row .col-14 .col-7 {
    margin-right: 1.14449%;
    width: 49.42775%; }
  .row .col-14 .col-8 {
    margin-right: 1.14449%;
    width: 56.65236%; }
  .row .col-14 .col-9 {
    margin-right: 1.14449%;
    width: 63.87697%; }
  .row .col-14 .col-10 {
    margin-right: 1.14449%;
    width: 71.10157%; }
  .row .col-14 .col-11 {
    margin-right: 1.14449%;
    width: 78.32618%; }
  .row .col-14 .col-12 {
    margin-right: 1.14449%;
    width: 85.55079%; }
  .row .col-14 .col-13 {
    margin-right: 1.14449%;
    width: 92.77539%; }
.row .col-15 {
  float: right;
  margin-right: 1%;
  width: 93.6875%; }
  .row .col-15 .col-1 {
    margin-right: 1.06738%;
    width: 5.67045%; }
  .row .col-15 .col-2 {
    margin-right: 1.06738%;
    width: 12.40827%; }
  .row .col-15 .col-3 {
    margin-right: 1.06738%;
    width: 19.1461%; }
  .row .col-15 .col-4 {
    margin-right: 1.06738%;
    width: 25.88392%; }
  .row .col-15 .col-5 {
    margin-right: 1.06738%;
    width: 32.62175%; }
  .row .col-15 .col-6 {
    margin-right: 1.06738%;
    width: 39.35957%; }
  .row .col-15 .col-7 {
    margin-right: 1.06738%;
    width: 46.0974%; }
  .row .col-15 .col-8 {
    margin-right: 1.06738%;
    width: 52.83522%; }
  .row .col-15 .col-9 {
    margin-right: 1.06738%;
    width: 59.57305%; }
  .row .col-15 .col-10 {
    margin-right: 1.06738%;
    width: 66.31087%; }
  .row .col-15 .col-11 {
    margin-right: 1.06738%;
    width: 73.0487%; }
  .row .col-15 .col-12 {
    margin-right: 1.06738%;
    width: 79.78652%; }
  .row .col-15 .col-13 {
    margin-right: 1.06738%;
    width: 86.52435%; }
  .row .col-15 .col-14 {
    margin-right: 1.06738%;
    width: 93.26217%; }
.row .col-16 {
  float: right;
  margin-right: 1%;
  width: 100%; }
  .row .col-16 .col-1 {
    margin-right: 1%;
    width: 5.3125%; }
  .row .col-16 .col-2 {
    margin-right: 1%;
    width: 11.625%; }
  .row .col-16 .col-3 {
    margin-right: 1%;
    width: 17.9375%; }
  .row .col-16 .col-4 {
    margin-right: 1%;
    width: 24.25%; }
  .row .col-16 .col-5 {
    margin-right: 1%;
    width: 30.5625%; }
  .row .col-16 .col-6 {
    margin-right: 1%;
    width: 36.875%; }
  .row .col-16 .col-7 {
    margin-right: 1%;
    width: 43.1875%; }
  .row .col-16 .col-8 {
    margin-right: 1%;
    width: 49.5%; }
  .row .col-16 .col-9 {
    margin-right: 1%;
    width: 55.8125%; }
  .row .col-16 .col-10 {
    margin-right: 1%;
    width: 62.125%; }
  .row .col-16 .col-11 {
    margin-right: 1%;
    width: 68.4375%; }
  .row .col-16 .col-12 {
    margin-right: 1%;
    width: 74.75%; }
  .row .col-16 .col-13 {
    margin-right: 1%;
    width: 81.0625%; }
  .row .col-16 .col-14 {
    margin-right: 1%;
    width: 87.375%; }
  .row .col-16 .col-15 {
    margin-right: 1%;
    width: 93.6875%; }
.row > :first-child,
.row .row > :first-child {
  margin-right: 0; }

.part-of-1 {
  margin-right: 1%;
  float: right;
  width: 100%; }

.part-of-2 {
  margin-right: 1%;
  float: right;
  width: 49.5%; }

.part-of-3 {
  margin-right: 1%;
  float: right;
  width: 32.66667%; }

.part-of-4 {
  margin-right: 1%;
  float: right;
  width: 24.25%; }

.part-of-5 {
  margin-right: 1%;
  float: right;
  width: 19.2%; }

.part-of-6 {
  margin-right: 1%;
  float: right;
  width: 15.83333%; }

.part-of-7 {
  margin-right: 1%;
  float: right;
  width: 13.42857%; }

.part-of-8 {
  margin-right: 1%;
  float: right;
  width: 11.625%; }

.part-of-9 {
  margin-right: 1%;
  float: right;
  width: 10.22222%; }

.part-of-10 {
  margin-right: 1%;
  float: right;
  width: 9.1%; }

.part-of-11 {
  margin-right: 1%;
  float: right;
  width: 8.18182%; }

.part-of-12 {
  margin-right: 1%;
  float: right;
  width: 7.41667%; }

.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

*:lang(eng) {
  direction: ltr; }

.block-header {
  text-align: center;
  margin-top: 1%;
  padding: 1em; }

.content {
  padding: 2em;
  /* remember to define focus styles! */
  /* remember to highlight inserts somehow! */
  /* tables still need 'cellspacing="0"' in the markup */ }
  .content html {
    color: #000;
    background: #FFF; }
  .content body, .content div, .content dl, .content dt, .content dd, .content ul, .content ol, .content li, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content h2 *, .content h3 *, .content h4 *, .content h5 *, .content h6 *, .content pre, .content code, .content form, .content fieldset, .content legend, .content input, .content textarea, .content p, .content blockquote, .content th, .content td {
    margin: 0;
    padding: 0; }
  .content table {
    border-collapse: collapse;
    border-spacing: 0; }
  .content fieldset, .content img {
    border: 0; }
  .content address, .content caption, .content cite, .content code, .content dfn, .content em, .content strong, .content th, .content var {
    font-style: normal;
    font-weight: normal; }
  .content ol, .content ul {
    list-style: none; }
  .content caption, .content th {
    text-align: left; }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content h2 *, .content h3 *, .content h4 *, .content h5 *, .content h6 * {
    font-size: 100%;
    font-weight: normal; }
  .content q:before, .content q:after {
    content: ''; }
  .content abbr, .content acronym {
    border: 0;
    font-variant: normal; }
  .content sup {
    vertical-align: text-top; }
  .content sub {
    vertical-align: text-bottom; }
  .content input, .content textarea, .content select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%; }
  .content legend {
    color: #000; }
  .content #yui3-css-stamp.cssreset {
    display: none; }
  .content html, .content body, .content div, .content span, .content applet, .content object, .content iframe,
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content h2 *, .content h3 *, .content h4 *, .content h5 *, .content h6 *, .content p, .content blockquote, .content pre,
  .content a, .content abbr, .content acronym, .content address, .content big, .content cite, .content code,
  .content del, .content dfn, .content em, .content font, .content img, .content ins, .content kbd, .content q, .content s, .content samp,
  .content small, .content strike, .content strong, .content sub, .content sup, .content tt, .content var,
  .content b, .content u, .content i, .content center,
  .content dl, .content dt, .content dd, .content ol, .content ul, .content li,
  .content fieldset, .content form, .content label, .content legend,
  .content table, .content caption, .content tbody, .content tfoot, .content thead, .content tr, .content th, .content td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; }
  .content body {
    line-height: 1; }
  .content ol, .content ul {
    list-style: none; }
  .content blockquote, .content q {
    quotes: none; }
  .content blockquote:before, .content blockquote:after,
  .content q:before, .content q:after {
    content: '';
    content: none; }
  .content :focus {
    outline: 0; }
  .content ins {
    text-decoration: none; }
  .content del {
    text-decoration: line-through; }
  .content table {
    border-collapse: collapse;
    border-spacing: 0; }
  .content h2, .content h3, .content h4, .content h5, .content h6, .content h2 *, .content h3 *, .content h4 *, .content h5 *, .content h6 * {
    font-weight: normal !important;
    font-size: 22px !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid gray !important;
    margin-bottom: 15px !important;
    margin-top: 30px !important;
    line-height: normal !important;
    text-decoration: none !important; }
  .content * {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important; }
  .content td {
    padding: 15px !important;
    vertical-align: middle !important; }
  .content tr:nth-child(odd) {
    background-color: #f9f9f9 !important; }
  .content tr:nth-child(even) {
    background-color: #e0dfdf !important; }
  .content table {
    width: 100% !important; }
  .content th {
    background-color: #3765a8 !important; }
  .content li {
    line-height: 2em !important;
    margin-right: 16px; }
  .content ul {
    list-style-type: square !important; }
  .content pre {
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    border-style: solid !important;
    border-width: 1px !important;
    line-height: 1.8em !important;
    padding: 1em !important;
    border: 1px dashed #2f6fab !important;
    color: black !important;
    background-color: #f9f9f9 !important; }
  .content strong {
    font-weight: normal; }
  .content img {
    -webkit-box-shadow: inset 0 0 2px black, inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 2px black, inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 2px black, inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4); }
  .content a {
    color: black !important;
    pointer-events: none !important;
    cursor: default !important; }

.options-bar {
  margin-top: 5px;
  width: 100%;
  display: table;
  background-color: #34b5e9;
  padding: 0.5em;
  border: 5px solid #1ba1e2; }
  .options-bar .rating-module, .options-bar .search-module {
    display: table-cell;
    width: 50%; }
    .options-bar .rating-module .button, .options-bar .search-module .button {
      margin-left: 0.5em;
      border: 3px solid #2b5797;
      height: auto; }
    .options-bar .rating-module .selected, .options-bar .search-module .selected {
      background-color: #eceff1;
      border: 3px solid #2b5797;
      color: #2b5797;
      height: auto; }
    .options-bar .rating-module h4, .options-bar .search-module h4 {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5%;
      color: white; }
  .options-bar .favorites-module {
    text-align: left; }
    .options-bar .favorites-module .button {
      margin: 0; }

.comment-content {
  background-color: #d7e4ed;
  padding: 20px;
  width: 50%;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP printers */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }
  .comment-content p {
    margin: 0px;
    text-align: right; }

.comment-content:after {
  content: "";
  position: absolute;
  top: 9px;
  right: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22.5px solid #d7e4ed;
  display: block;
  width: 0;
  height: 0;
  z-index: 1; }

.author {
  margin: 0px;
  font-size: 22px; }

.timestamp {
  margin: 0px;
  font-size: 12px;
  line-height: 10px;
  direction: ltr; }

.comment-info {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  vertical-align: top;
  min-width: 12%; }

.comments-wrapper li {
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 0px;
  list-style: none;
  text-align: right; }

textarea {
  padding: 10px;
  resize: none;
  width: 100%;
  height: 150px; }

/*# sourceMappingURL=summary.css.map */
