{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
{% if validlink %}
<div class="row">
<div class="block-header">
<h4>בחר סיסמא חדשה והכנס אותה פעמיים כדי לוודא שלא התבלבלת</h4>
</div>
<div class="block">
<form action="" method="post" class="part-of-3">
{% csrf_token %}
<div class="field">
<label for="id_new_password1">סיסמא</label>
<p>
    {{ form.new_password1 }}
    {% if form.new_password1.errors %}<span>{{ form.new_password1.errors.as_text|cut:"* " }}</span>{% endif %}
</p>
</div>
<div class="field">
<label for="id_new_password2">אשר סיסמא</label>
<p>
    {{ form.new_password2 }}
    {% if form.new_password2.errors %}<span>{{form.new_password2.errors.as_text|cut:"* " }}</span>{% endif %}
</p>
</div>
<input type="submit" value="החלף את הסיסמא שלי" />
</form>
</div>
{% else %}
<div class="error-alert">
<h4>איפוס הסיסמא נכשל</h4>
<p>קישור איפוס הסיסמא שלך כבר לא בתוקף, או שכבר השתמשת בו</p>
</div>
איפוס הסיסמא שלך כבר לא בתוקף, או שכבר השתמשת בו</p>
</div>
{% endif %}
</div>
{% endblock %}
