{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{% if validlink %}
<div class="row">
<div class="block-header">
<h4>בחר סיסמא חדשה והכנס אותה פעמיים כדי לוודא שלא התבלבלת</h4>
</div>
<div class="block" >
<form action="" method="post">
{% csrf_token %}

<p><label for="id_new_password1"><h5>סיסמא</h5></label></p>
<p>
    {{ form.new_password1 }}
    {% if form.new_password1.errors %}<span>{{ form.new_password1.errors.as_text|cut:"* " }}</span>{% endif %}
</p>
<p><label for="id_new_password2"><h5>אשר סיסמא</h5></label></p>
<p>
    {{ form.new_password2 }}
    {% if form.new_password2.errors %}<span>{{ form.new_password2.as_text|cut:"* " }}</span>{% endif %}
</p>
<input type="submit" value="החלף את הסיסמא שלי" />
</form>
{% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
</div>
</div>
{% endblock %}
