{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="row">
<h4 class="block-header">שכחת את הסיסמא שלך? הכנס את כתובת האימייל שלך ונשלח לך הוראות כדי לשחזר את הסיסמא</h4>
</div>
<div class="block">
<form action="" method="post">
{% csrf_token %}
<p><label for="id_email"><h5>כתובת אימייל</h5></label></p>
<p>{{ form.email }}
{% if form.email.errors %}<span>{{ form.email.errors.as_text|cut:"* " }}</span>{% endif %}
</p>
<input type="submit" value="שחזר את הסיסמא שלי" />
</form>
</div>
{% endblock %}