{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
	<div class="row">
		<h4 class="block-header">שכחת את הסיסמא שלך? הכנס את כתובת האימייל שלך ונשלח לך הוראות כדי לשחזר את הסיסמא</h4>
	<div class="block">
		<form action="" method="post" class="col-8">
			{% csrf_token %}
			<div class="field">
				<label for="id_email">כתובת אימייל</label>
				<p>
					{{ form.email }}
					{% if form.email.errors %}<span>{{ form.email.errors.as_text|cut:"* " }}</span>{% endif %}
				</p>
			</div>
			<input type="submit" value="שחזר את הסיסמא שלי" />
		</form>
	</div>
		</div>
{% endblock %}
